{% if is_granted('ROLE_USER') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('user_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li class="active"><a href="#"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante_user')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento_user')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11" id="contenedor">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                            <font  size="5" class="panel-title">Clientes</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loadingPage">
                                         <center>
                                            <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                            <h4 id="loading_msj">Procesando Datos...</h4>
                                        </center>
                                    </div>
                                    <div id="Div-tabla" style="display: none;">
                                        <div class="panel panel-primary filterable">  
                                            <table id="tabla1" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nombre Comercial</th>
                                                        <th>Razón Social</th>
                                                        <th>RFC</th>
                                                        <th>Detalle</th>
                                                        <th>Movimientos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set var = 1 %}
                                                    {% for datos in clientes['data'] %}
                                                        <tr>
                                                            <td><font size="2">{{ var }}</font></td>
                                                            <td><font size="2">{{ datos['CL_Nombre'] }}</font></td>
                                                            <td><font size="2">{{ datos['CL_RazonSocial'] }}</font></td>
                                                            <td><font size="2">{{ datos['CL_RFC'] }}</font></td>
                                                            <td align="center"><a href="{{path('detalle_cliente_user',{'idCliente':datos['idCliente']})}}"><img id="imagen" src="{{asset('images/viewdetail.png')}}"></a></td>
                                                            <td align="center"><a href="{{path('ver_movimientos_user',{'idCliente':datos['idCliente']})}}"><img id="imagen" src="{{asset('images/movedetail.png')}}"></a></td>
                                                        </tr>
                                                        {% set var = var + 1 %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('agregar_cliente_user')}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 14px;"><img src="{{asset('images/add.png')}}" /> &nbsp; Agregar Cliente</a>
                            {# mensajes flash #}
                                {% for flashMessage in app.session.flashbag.get('flash1') %}
                                   <div class="pull-right"><input type="hidden" name="in" value="{{ flashMessage }}" id="input" />
                                {% endfor %}
                            {# mensajes flash #}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Modal -->
            <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body-loading">
                            <div class="text-center">
                                <center>
                                <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                <h4 id="loading_msj">Processing...</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/notify.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>                  
            <script src="{{asset('js/scriptF5.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#Div-tabla').show();
                    $('#loadingPage').hide();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $("#myform").validate({
                        rules: {
                            trs: {
                                required: true
                            },
                            DE_id_Pais: {
                                required: true
                            },
                            DE_id_Estado: {
                                required: true
                            },
                            inputRFC: {
                                required: true,
                                minlength: 5
                            },
                            inputCP: {
                                required: true,
                                minlength: 5,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
                    if($('#input').val() == 'Operación realizada con éxito'){
                           $('#contenedor').notify("Operacion realizada con exito",{ position:"right top",className: 'success' });
                    }
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
        window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}