{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li class="active"><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
                            <center>
            <div id="loadingPage">
                <img src="{{asset('images/loading.gif')}}" class="icon">
                <h4 id="loading_msj">Procesando Datos...</h4>  
            </div>
        </center>
            <div class="container center" style="display: none;" id="div-tabla-1">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" >
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h3 class="panel-title">Detalle del Representante</h3></center>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-offset-1">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img src="{{asset('images/representant.png')}}" width="50">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="{{asset('images/representant.png')}}" width="50">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    {% for rep in representante['data'] %}                          
                                        <font size="5">{{rep['RE_NombreCompleto']}}</font><br>

                                    </div>
                                    <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                        <font size="5">{{rep['RE_NombreCompleto']}}</font>  
                                        <table class="table ">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><strong>Cargo:</strong></td>
                                                    <td>{%if rep['RE_Cargo'] == '' %}<font color="RED">No Asignado</font>{%else%}{{rep['RE_Cargo']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>RFC:</strong></td>
                                                    <td>{%if rep['RE_RFC'] == '' %}<font color="RED">No Asignado</font>{%else%}{{rep['RE_RFC']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.1:</strong></td>
                                                    <td >{%if rep['RE_Telefono'] == '' %}<font color="RED">No Asignado</font>{%else%}{{rep['RE_Telefono']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.2:</strong></td>
                                                    <td>{%if rep['RE_Telefono'] == '' %}<font color="RED">No Asignado</font>{%else%}{{rep['RE_Telefono']}}{%endif%}</td>
                                                </tr>                                              
                                            {% endfor %}
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{{path('representante')}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 18px;">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="display: none;" id="div-tabla-2">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                            <font  size="5" class="panel-title">Clientes del Representante</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div id="Div-tabla" style="display: none;">
                                        <div class="panel panel-primary filterable">
                                            <center><font color="#911710"><b>Clientes</b></font></center><br>
                                            <table class="table table-bordred table-striped table-hover table-condensed">
                                                <thead>      
                                                    <th>#</th>
                                                    <th>Nombre Comercial</th>
                                                    <th>Razón Social</th>
                                                    <th>RFC</th>
                                                    <th> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Detalle</th>
                                                    <th> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Movimientos</th>
                                                    <th> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Editar</th>
                                                </thead>
                                                <tbody>
                                                    {% if clientes['data'] == '' %}
                                                    <tr><td colspan="9">
                                                    <center><font color="red">No se han encontrado clientes</font></center>
                                                    </td></tr>
                                                    {% else %}
                                                    {% for datos in clientes['data'] %}
                                                        <tr>
                                                            <td><font size="2">{{ datos['idCliente'] }}</font></td>
                                                            <td><font size="2">{{ datos['CL_Nombre'] }}</font></td>
                                                            <td><font size="2">{{ datos['CL_RazonSocial'] }}</font></td>
                                                            <td><font size="2">{{ datos['CL_RFC'] }}</font></td>
                                                            <td align="center"><a href="{{path('detalle_cliente',{'idCliente':datos['idCliente']})}}"><img id="imagen" src="{{asset('images/viewdetail.png')}}"></a></td>
                                                            <td align="center"><a href="#"><img id="imagen" src="{{asset('images/movedetail.png')}}"></a></td>
                                                            <td><a href="{{path('editar_cliente',{'idCliente':datos['idCliente']})}}"><img id="imagen" src="{{asset('images/edit.png')}}"></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#loadingPage').hide();
                    $('#div-tabla-1').show();
                    $('#div-tabla-2').show();
                    $('#Div-tabla').show();
                    $('#loadingPage').hide();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tabla2').show();
                    $('#loadingPage').hide();
                    $('#tabla2').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tabla3').show();
                    $('#loadingPage').hide();
                    $('#tabla3').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tablaRepresentantes').show();
                    $('#loadingPage').hide();
                    $('#tablaRep').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "scrollY": "200px",
                        "scrollCollapse": true,
                        "paging": false
                    });
                    $("#frm_Agregar_direccion").validate({
                        rules: {
                            DE_id_Pais: {
                                required: true,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript">
            $(document).ready(function() {
                    $("#frm_Agregar_representante").validate({
                        rules: {
                            representanteOption: {
                                required: true,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
            });
            </script>
            <script type="text/javascript">
                $(document).ready(function()
                    {
                        $('#Div-tabla3').css("display","none");
                    $("#boton").click(function () {     
                        $('#Div-tabla3').toggle("slow");
                         });
                    });
                $(document).ready(function()
                    {
                        $('#Div-tablaRepresentantes').css("display","none");
                    $("#boton2").click(function () {     
                        $('#Div-tablaRepresentantes').toggle("slow");
                         });
                    });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
        window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}