{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 188pxpx; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li class="active"><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                                <font  size="5" class="panel-title">Modificar Cliente</font>
                            </center>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="myform" action="{{path('addCliente')}}" method="POST">
                                {% for datos in cliente['data'] %}
                                    <input type="hidden" name="idCliente" value="{{datos['idCliente']}}">
                                    <input type="hidden" name="accion" value="2">
                                    <div class="form-group">
                                        <label for="inputNom" class="col-lg-2 control-label">Nombre Comercial:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" value="{{datos['CL_Nombre']}}" class="form-control input-sm" id="inputNom" name="inputNom" placeholder="Nombre" required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRazon" class="col-lg-2 control-label">Razón Social:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" value="{{datos['CL_RazonSocial']}}" class="form-control input-sm" name="rs" id="inputRazon" placeholder="Razón Social" required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSociedad" class="col-lg-2 control-label">Tipo de Sociedad:</label>
                                        <div class="col-lg-10">
                                            <select class="form-control input-sm" id="trs" name="trs" title="Seleccione una Sociedad">
                                                <option value="" disabled selected>Selecciona una opcion..</option>
                                                {% for tip in tipoSoc['tipoSoc'] %}
                                                    <option value="{{tip}}" {% if tip == datos['CL_TipoSoc'] %}selected{% endif %}>{{tip}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRFC" class="col-lg-2 control-label">RFC:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" maxlength="13" class="form-control input-sm" name="inputRFC" id="inputRFC" value="{{datos['CL_RFC']}}" placeholder="RFC" required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRFC" class="col-lg-2 control-label">Email:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="email" class="form-control input-sm" name="email" id="email" placeholder="Email" value="{{datos['CL_Email']}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRFC" class="col-lg-2 control-label">Teléfono:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" class="form-control input-sm" name="tel" id="tel" placeholder="Teléfono" value="{{datos['CL_Telefono']}}" required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRFC" class="col-lg-2 control-label">Teléfono 2:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" value="{{datos['CL_Telefono2']}}"  class="form-control input-sm" name="tel2" id="tel2" placeholder="Teléfono2">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                                <table  width="90%" align="center">
                                    <tr>
                                        <td align="left" valign="bottom">
                                            <a class="btn btn-danger btn-xs" href="{{ path('cliente')}}" style="font-size: 14px;">Cancelar</a></td>
                                        <td align="right">
                                            <input type="submit" name="submit" class="btn btn-success pull-right btn-xs" style="font-size: 14px;" value="Editar" />
                                        </td>
                                    </tr>
                                </table>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Modal -->
            <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body-loading">
                            <div class="text-center">
                                <center>
                                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                    <h4 id="loading_msj">Processing...</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $("#myform").validate({
                        rules: {
                            trs: {
                                required: true
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });

                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}