{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 188px;  
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li class="active"><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="loadingPage">
                <center>
                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                    <h4 id="loading_msj">Procesando Datos...</h4>
                </center>
            </div>
            <div class="container center" id="div-tabla-1" style="display: none;">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" >
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h3 class="panel-title">Detalle del Representante</h3></center>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-offset-1">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img src="{{asset('images/client.png')}}" width="50">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="{{asset('images/client.png')}}" width="50">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    {% for cte in DatosCliente['data'] %}                           
                                        <font size="5">{{cte['CL_Nombre']}}</font><br>
                                    </div>
                                    <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                        <font size="5">{{cte['CL_Nombre']}}</font>  
                                        <table class="table ">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><strong>Razon Social:</strong></td>
                                                    <td>{%if cte['CL_RazonSocial'] == '' %}<font color="RED">No Asignado</font>{%else%}{{cte['CL_RazonSocial']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>RFC:</strong></td>
                                                    <td>{%if cte['CL_RFC'] == '' %}<font color="RED">No Asignado</font>{%else%}{{cte['CL_RFC']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.1:</strong></td>
                                                    <td >{%if cte['CL_Telefono'] == '' %}<font color="RED">No Asignado</font>{%else%}{{cte['CL_Telefono']}}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.2:</strong></td>
                                                    <td>{%if cte['CL_Telefono2'] == '' %}<font color="RED">No Asignado</font>{%else%}{{cte['CL_Telefono2']}}{%endif%}</td>
                                                </tr>                                              
                                            {% endfor %}
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{{path('cliente')}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 14px;">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="div-tabla-2" style="display: none;">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                                <font  size="5" class="panel-title">Editar Detalle del Cliente</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                {# mensajes flash #}
                                {% for flashMessage in app.session.flashbag.get('flash1') %}
                                    <div class="pull-right"><font color="GREEN"> -- {{ flashMessage }} -- </font></div>
                                    {% endfor %}
                                    {# mensajes flash #}
                                <div class="col-md-12">
                                    <div>
                                        <div class="panel panel-primary filterable">
                                            <center><font color="#911710"><b>Dirección del Cliente</b></font></center><br>
                                            <table class="table table-bordred table-striped table-hover table-condensed">
                                                <thead>      
                                                <th>#</th>
                                                <th>Fecha</th>
                                                <th>País</th>
                                                <th>Estado</th>
                                                <th>Ciudad/Municipio</th>
                                                <th>Colonia</th>
                                                <th>Calle y No</th>
                                                <th>C.P.</th>
                                                </thead>
                                                <tbody>
                                                    {% if direcciones['data'] == '' %}
                                                        <tr><td colspan="9">
                                                    <center><font color="red">No se han encontrado direcciónes</font></center>
                                                    </td></tr>
                                                {% else %}
                                                    {% for datos in direcciones['data'] %}
                                                        <tr>
                                                            <td><font size="2">{{ datos['idDireccionCliente'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_FechaCreacion'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_Pais'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_Estado'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_Ciudad'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_Colonia'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_Calle'] }}</font></td>
                                                            <td><font size="2">{{ datos['DC_CP'] }}</font></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="contenido" style="display:none;">
                                <input id="boton" type="button" class="btn btn-success btn-xs" style="font-size: 14px;" value="Modificar Dirección">
                                {# DIV AGREGAR #}<p>
                                <div id="Div-tabla3" style="border-style: double; border-width: 4px; border-color: #930D0D;">
                                    <form action="{{path('agregar_direccion_cliente')}}" id="frm_Agregar_direccion" method="POST">
                                        <table align='center'>                               
                                            {% for datos in direcciones['data'] %}
                                                <input type="hidden" name="accion" value="2">
                                                <input type="hidden" name="idCliente" value="{{cliente}}">
                                                <input type="hidden" name="idDireccionCliente" value="{{datos['idDireccionCliente']}}">
                                                <tr>
                                                    <td align="center" colspan="2"><font color="#930D0D" size="3">Modificar Dirección</font><p></td>
                                                </tr>
                                                <tr>
                                                    <td align='right'>País: &nbsp;</td>
                                                    <td><select class="form-control input-sm" id="DE_id_Pais" name="DE_id_Pais" title="Seleccione un pais" required>
                                                            <option value="" disabled selected>Selecciona tu país..</option>
                                                            {% if datos['_id_Pais'] != '' %}
                                                                {% for idPais, pais in paises['data'] %}
                                                                    <option value="{{idPais}}" {% if idPais == datos['_id_Pais'] %}selected{% endif %}>{{pais}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select><p></td>
                                                </tr>
                                                <tr>
                                                    <td align='right'>Estado: &nbsp;</td>
                                                    <td><select class="form-control input-sm" name="DE_id_Estado" id="DE_id_Estado" title="Seleccione un estado" required>
                                                            {% if datos['_id_Estado'] != '' %}    
                                                                {% for idEstado, estado in estados['data'] %}
                                                                    <option value="{{idEstado}}" {% if idEstado == datos['_id_Estado'] %}selected{% endif %}>{{estado}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select><p></td>
                                                </tr>
                                                <tr>
                                                    <td align='right'>Ciudad/Municipio: &nbsp;</td>
                                                    <td><select class="form-control input-sm" name="DE_id_Ciudad" id="DE_id_Ciudad" title="Seleccione una ciudad" required>
                                                            {% if datos['_id_Ciudad'] != '' %}
                                                                {% for idCiudad, ciudad in ciudades['data'] %}
                                                                    <option value="{{idCiudad}}" {% if idCiudad == datos['_id_Ciudad'] %}selected{% endif %}>{{ciudad}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select><p></td>
                                                </tr>
                                                <tr>
                                                    <td align='right'>Colonia: &nbsp;</td>
                                                    <td>
                                                        <div class="required-field-block">
                                                            <input type="text" name="col" class="form-control input-sm" id="col" value="{{datos['DC_Colonia']}}" placeholder="Colonia" required>
                                                            <div class="required-icon">
                                                                <div class="text">*</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align='right'>Calle y Número: &nbsp;</td>
                                                    <td>
                                                        <div class="required-field-block">
                                                            <input type="text" name="calle" class="form-control input-sm" id="inputCalle" placeholder="Calle y Numero" value="{{datos['DC_Calle']}}" required>                                           
                                                            <div class="required-icon">
                                                                <div class="text">*</div>
                                                            </div>
                                                        </div>
                                                    </td>        
                                                </tr>
                                                <tr>
                                                    <td align='right'>Código Postal: &nbsp;</td>
                                                    <td>
                                                        <div class="required-field-block">
                                                            <input type="text" maxlength="10" name="inputCP" class="form-control input-sm" id="inputCP" placeholder="C.P" value="{{datos['DC_CP']}}" required>
                                                            <div class="required-icon">
                                                                <div class="text">*</div>
                                                            </div>
                                                        </div>
                                                    </td>                                                                                                       
                                                </tr>
                                                <input type="hidden" id="PECC_Estado" value="{{ path('PECC_Estado', {'id_Pais': '134'}) }}" />
                                                <input type="hidden" id="PECC_Ciudad" value="{{ path('PECC_Ciudad', {'id_Estado': '134'}) }}" />
                                                <tr>
                                                    <td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-success pull-right btn-xs" style="font-size: 14px;" value="Modificar" /></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </form>
                                </div>
                                {# DIV AGREGAR #}
                                <hr style="color: #930D0D; background-color: #930D0D; height: 1px;">
                                <div id="Div-tabla2" style="display: none;">
                                    <div class="panel panel-primary filterable">
                                        <center><font color="#911710"><b>Representantes</b></font></center><br>
                                        <table class="table table-bordred table-striped table-hover table-condensed">
                                            <thead>      
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>RFC</th>
                                            <th>Detalle</th>
                                            <th>Movimientos</th>
                                            <th>Editar</th>
                                            </thead>
                                            <tbody>
                                                {% if representantes['data'] == '' %}
                                                    <tr><td colspan="6">
                                                <center><font color="red">No se han asignado representantes</font></center>
                                                </td></tr>
                                            {% else %}
                                                {% for datos in representantes['data'] %}
                                                    <tr>
                                                        <td><font size="2">{{ datos['idRepresentante'] }}</font></td>
                                                        <td><font size="2">{{ datos['RE_NombreCompleto'] }}</font></td>
                                                        <td><font size="2">{{ datos['RE_RFC'] }}</font></td>
                                                        <td><a href="{{path('detalle_representante',{'idRepresentante':datos['idRepresentante']})}}"><img id="imagen" src="{{asset('images/viewdetail.png')}}"></a></td>
                                                        <td><a href="#"><img id="imagen" src="{{asset('images/movedetail.png')}}"></a></td>
                                                        <td><a href="{{path('editar_representante',{'idRepresentante':datos['idRepresentante']})}}"><img id="imagen" src="{{asset('images/edit.png')}}"></a></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <input id="boton2" type="button2" class="btn btn-success btn-xs" style="font-size: 14px;" value="Agregar Representante">
                                {# DIV AGREGAR REPRESENTANTE #}<p>
                                <div id="Div-tablaRepresentantes" style="border-style: double; border-width: 4px; border-color: #930D0D;">
                                    <form action="{{path('agregar_representante_cliente')}}" id="frm_Agregar_representante" method="POST">
                                        <table align='center'>
                                            <tr>
                                                <td align="center" colspan="2"><font color="#930D0D" size="3">Agregar Representante</font><p></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table id="tablaRep" class="display" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Elegir</th>
                                                                <th>Nombre</th>
                                                                <th>RFC</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <input type="text" name="idCliente" value="{{cliente}}" style="display: none">
                                                        <input type="text" name="accion" value="1" style="display: none">
                                                        {% for re in representesTabla['data'] %}
                                                            <tr>
                                                                <td> &nbsp; &nbsp; &nbsp;
                                                                    <font size="3"><input type="radio" name="representante" id="representanteOption" value="{{ re['idRepresentante'] }}" required></font>
                                                                </td>
                                                                <td><font size="2">{{ re['RE_NombreCompleto'] }}</font></td>
                                                                <td><font size="2">{{ re['RE_RFC'] }}</font></td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="2"><input type="submit" class="btn btn-success pull-right btn-xs" style="font-size: 14px;" value="Agregar" /></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                {# DIV AGREGAR REPRESENTANTE #}
                                <hr style="color: #930D0D; background-color: #930D0D; height: 1px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Modal -->
            <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body-loading">
                            <div class="text-center">
                                <center>
                                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                    <h4 id="loading_msj">Processing...</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#loadingPage').hide();
                    $('#div-tabla-1').show();
                    $('#div-tabla-2').show();
                    $('#contenido').show();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tabla2').show();
                    $('#loadingPage').hide();
                    $('#tabla2').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tabla3').show();
                    $('#loadingPage').hide();
                    $('#tabla3').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#Div-tablaRepresentantes').show();
                    $('#loadingPage').hide();
                    $('#tablaRep').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "scrollY": "200px",
                        "scrollCollapse": true,
                        "paging": false
                    });
                    $("#frm_Agregar_direccion").validate({
                        rules: {
                            DE_id_Pais: {
                                required: true,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });

                    $("#boton").click(function() {
                        $('#Div-tabla3').toggle("slow");
                    });
                    $('#Div-tabla3').css("display", "none");
                    $('#Div-tablaRepresentantes').css("display", "none");
                    $("#boton2").click(function() {
                        $('#Div-tablaRepresentantes').toggle("slow");
                    });
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
        window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}