{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
                .centered {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }       
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li class="active"><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        <center>
            <div id="loadingPage">
                <img src="{{asset('images/loading.gif')}}" class="icon">
                <h4 id="loading_msj">Procesando Datos...</h4>  
            </div>
        </center>
        <div class="container center" id="div-tabla-1" style="display: none;">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Detalle del Distribuidor</h3></center>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-offset-1" >                               
                            <div>
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img src="{{asset('images/distributor.png')}}" width="50">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="{{asset('images/distributor.png')}}" width="50">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    {% for datos in distribuidor['data'] %}                           
                                        <font size="5">{{ datos['DI_Nombre'] }}</font><br>
                                    {% endfor %}
                                </div>
                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    {% for datos in distribuidor['data'] %}
                                        <div>
                                            <font size="5">{{ datos['DI_Nombre'] }}</font>
                                            <table class="table ">
                                                <tbody>
                                                    <tr>
                                                        <td align="right"><strong>Razón Social:</strong></td>
                                                        <td>{{ datos['DI_RazonSocial'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>RFC:</strong></td>
                                                        <td>{{ datos['DI_RFC'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>País:</strong></td>
                                                        <td >{{ datos['DI_Pais'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>Estado:</strong></td>
                                                        <td>{{ datos['DI_Estado'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>Ciudad:</strong></td>
                                                        <td>{{ datos['DI_Ciudad'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>Colonia:</strong></td>
                                                        <td>{{ datos['DI_Colonia'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>Calle y Número:</strong></td>
                                                        <td>{{ datos['DI_Calle'] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right"><strong>C.P. :</strong></td>
                                                        <td>{{ datos['DI_CP'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{{path('distribuidor')}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 14px;">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container center" style="display: none;" id="div-tabla-2">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <center><h3 class="panel-title">Usuarios Relacionados</h3></center>
                </div>
                <div class="panel-body">
                    {% if usuario['data'] != '' %}
                        <div class="panel panel-primary filterable">
                            <table class="table table-bordred table-striped table-hover table-condensed">
                                <thead>      
                                <th>#</th>
                                <th>Nombre Comercial</th>
                                <th>Status</th>
                                <th>Ver Detalle</th>
                                </thead>
                                <tbody>
                                    {% set var = 1 %} 
                                    {% for usr in usuario['data'] %}
                                        <tr>
                                            <td><font size="4">{{ var }}</font></td>
                                            <td><font size="4">{{ usr['US_Nombre'] }}</font></td>
                                            <td><font size="4">{{ usr['US_Status'] }}</font></td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{path('detalle_usuario',{'idUsuario':usr['idUsuario']})}}">
                                                    <img id="imagen" src="{{asset('images/viewdetail.png')}}"></a></td>
                                        </tr>
                                    {% set var = var + 1 %} 
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <center>Este distribuidor no cuenta con usuarios asociados</center>
                        {% endif %}
                </div>
            </div>
        </div>
        <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
        <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
        <script src="{{asset('js/required.js')}}" language="javascript"></script>
        <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
        <script src="{{asset('js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('js/additional-methods.min.js')}}"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(function() {
                $('#loadingPage').hide();
                $('#div-tabla-1').show();
                $('#div-tabla-2').show();
                $('#tabla1').dataTable({
                    "bSort": false,
                    "info": false,
                    "lengthChange": false,
                    "iDisplayLength": 7
                });
            });
        </script>
        <!--[if lt IE 9]>
                <script src="{{ asset('js/html5shiv.js') }}"></script>
                <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
    </body>
</html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}