{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li class="active"><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>                                                     
            <div class="container">
                <div class="col-lg-10">
                    <div class="jumbotron">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title"><center>Alta de Movimientos</center></h3>
                            </div>
                            <div class="panel-body"><p>
                                <form action="{{path('agregar_movimiento')}}" method="POST">
                                    <center><font color="#930D0D" size="3">Cliente:<b>
                                            {% for cte in cliente['data'] %}
                                                {{cte['CL_Nombre']}}
                                            {% endfor %}</b></font></center><p><br>
                                        <input type="hidden" name="accion" value="1">
                                        <input type="hidden" name="cliente" value="{{idCliente}}">
                                        <input type="hidden" name="idReporte" value="{{idReporte}}">
                                        <input type="hidden" name="tipo" value="{{idTipo}}">
                                    <table class="col-lg-offset-3">
                                        <tr>
                                            <td><label class="col-lg-2 control-label"><font color="#930D0D" size="3">Situación:</font></label></td>
                                            <td> 
                                                <div  class="input-group" >
                                                    <span class="input-group-addon input-group-login input-sm"><i class="fa fa-university"></i></span>
                                                    <select class="form-control input-sm" id="situacion" name="situacion" onChange="situacionOnChange(this)" required>
                                                        <option value="" disabled selected>Seleccione..</option>
                                                        <option value="2">L</option>
                                                        <option value="3">F</option>
                                                        <option value="4">Q</option>
                                                        <option value="5">D</option>
                                                        <option value="6">A</option>
                                                        <option value="8">I</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="monto" style="display: none;">
                                            <td><label class="col-lg-2 control-label"><font color="#930D0D" size="3">Monto:</font></label></td>
                                            <td><input type="text" class="form-control input-sm" name="monto" id="monto_money" placeholder="Monto"><p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">&nbsp;</td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="3" align="center">
                                                &nbsp;&nbsp;&nbsp;<a data-backdrop="static" id="btn_aceptar" href="#modal-dialog" class="modal-toggle btn btn-success pull-center btn-xs" data-toggle="modal" data-href="{{path('agregar_movimiento')}}" data-modal-type="confirm" data-modal-title="Delete Property" data-modal-text="Are you sure you want to delete {$property.address_string}?" data-modal-confirm-url="{$base_url}residential-lettings/properties/do-delete/property/{$property.id}" style="display:none;"><i class="icon-trash" ></i><font size="3">Aceptar</font></a>
                                            </td>
                                        </tr>
                                    </table>
                                </form>			
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL-->
            <div id="modal-dialog" class="modal ">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header-success">
                            <h3>Confirme Movimiento</h3>
                        </div>
                        <div class="modal-body">
                            <p id="msj_form">Esta seguro que desea ingresar el Reporte?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="btnYes" class="btn btn-success">Aceptar</a>
                            <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript">
                function situacionOnChange(sel) {
                    if (sel.value == "6")
                    {
                        $('#btn_aceptar').hide('slow');
                        $('#monto').show('inline');
                    }
                    else
                    {
                        $('#monto').hide('inline');
                        $('#btn_aceptar').show('slow');
                    }
                }
            </script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#Div_clientes').show();
                    $('#loadingPage').hide();
                    $('#tablaCte').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "scrollY": "200px",
                        "scrollCollapse": true,
                        "paging": false
                    });
                    
                    //QUERY PARA MODAL
                    $('#btn_aceptar').click(function() {
                        $money = $('#monto_money').val();
                        if ($money == '') {
                            $('#msj_form').html('Esta seguro que desea ingresar el Reporte?')
                            console.log('NO TENGO MONTO');
                        } else {
                            console.log($money);
                            $('#msj_form').html('Esta seguro que desea ingresar el monto de: $' + $money + ' al Reporte ?')
                        }
                        $('#modal-dialog').on('show', function() {
                            
                            var link = $(this).data('link'),
                            confirmBtn = $(this).find('.confirm'); 
                        })
                        $('#btnYes').click(function() {
                            $(this).html('<i class="fa fa-cog fa-spin"></i>&nbsp; Cargando..');
                            $(this).attr('disabled', 'disabled');
                            $('#btnNo').hide('slow');
                            $('form').submit();
                        });
                    });//Termina Query
                    
                    //VALIDACION
                    $('#monto_money').keyup(function(){
                        $valor = $(this).val();
                        console.log($valor);
                        if($valor == ''){
                            $('#btn_aceptar').hide('slow');
                        }else{
                            $('#btn_aceptar').show('slow');
                        }
                        
                    });
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
    <!--
    window.location = "{{path('logout')}}"
    //-->
    </script>
{% endif %}