{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 188pxpx; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li class="active"><a href="#"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11">
                    <div class="jumbotron">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title"><center>Alta de Movimientos</center></h3>
                            </div>
                            <div class="panel-body"><p>
                                <div id="loadingPage">
                                    <center>
                                        <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                        <h4 id="loading_msj">Procesando Datos...</h4>
                                    </center>
                                </div>
                                <div id="Div-tabla" style="display: none;">
                                    <form action="{{path('agregar_movimiento')}}" method="POST" role="form">
                                        <input type="hidden" name="accion" value="1">
                                        <table>
                                            <tr>
                                                <td rowspan="4">{# AGREGAR #}
                                                    {# DIV AGREGAR CLIENTE #}<p>
                                                    <div id="Div_clientes">
                                                        <table align='center'>
                                                            <tr>
                                                                <td align="center" colspan="2"><font color="#930D0D" size="3">Seleccione un Cliente:</font><p></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <table id="tablaCte" class="display" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Elegir</th>
                                                                                <th>Cliente</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for cte in clientes['data'] %}
                                                                                <tr>
                                                                                    <td> &nbsp; &nbsp; &nbsp;
                                                                                        <font size="3"><input type="radio" name="cliente" id="clienteOption" value="{{ cte['idCliente'] }}" required></font>
                                                                                    </td>
                                                                                    <td><font size="2">{{ cte['CL_Nombre'] }}</font></td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    {# DIV AGREGAR CLIENTE #}
                                                </td>{# AGREGAR #}
                                            </tr>
                                            <tr>
                                                <td>&nbsp; &nbsp; &nbsp;</td>
                                                <td>
                                                    <div class="form-group" id="div_situacion" style="display:none;">
                                                        <label for="situacion" class="control-label"><font color="#930D0D" size="3">Situación:</font></label>
                                                        <div  class="input-group col-lg-12" >
                                                            <span class="input-group-addon input-group-login input-sm"><i class="fa fa-university"></i></span>
                                                            <select class="form-control input-sm" id="situacion" name="situacion" onChange="situacionOnChange(this)" required>
                                                                <option value="" disabled selected>Seleccione..</option>
                                                                <option value="1">M</option>
                                                                <option value="7">P</option>
                                                            </select>
                                                        </div>                                              
                                                    </div><p>
                                                    <div class="form-group" id="monto" style="display: none;">
                                                        <label for="monto"><font color="#930D0D" size="3">Monto:</font></label>                                                       
                                                        <input type="text" class="form-control input-sm" name="monto" id="monto_money" placeholder="Monto">                                                      
                                                    </div>
                                                    <div class="form-group" id="div_sector" style="display: none;">
                                                        <label for="tipo" class="control-label" ><font color="#930D0D" size="3">Sector:</font></label>
                                                        <div  class="input-group col-lg-12" >
                                                            <span class="input-group-addon input-group-login input-sm"><i class="fa fa-university"></i></span>
                                                            <select class="form-control input-sm" id="tipo" name="tipo" required style="">
                                                                <option value="" disabled selected>Seleccione..</option>
                                                                <option value="1">M</option>
                                                                <option value="2">C</option>
                                                                <option value="3">P</option>
                                                            </select>
                                                        </div>                                              
                                                    </div>
                                                </td>                                                
                                            </tr>
                                            <tr>
                                            </tr>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="center"></td>
                                            </tr>
                                            <tr>
                                                <td align="left"><br><p>{# <a href="{{path('agregar_cliente')}}" class="btn btn-danger pull-center btn-xs" style="font-size: 14px;">Nuevo Cliente</a> #}</td>
                                                <td colspan="2" align="center">
                                                    <a data-backdrop="static"id="btn_aceptar" href="#modal-dialog" class="modal-toggle btn btn-success pull-center btn-xs" data-toggle="modal" data-href="{{path('agregar_movimiento')}}" data-modal-type="confirm" data-modal-title="Delete Property" data-modal-text="Are you sure you want to delete {$property.address_string}?" data-modal-confirm-url="{$base_url}residential-lettings/properties/do-delete/property/{$property.id}" style="display:none;"><i class="icon-trash" ></i><font size="3">Aceptar</font></a>
                                                    <!--<input id="btn_aceptar" type="submit" name="submit" class="btn btn-success pull-center btn-xs" style="font-size: 14px;" value="Aceptar"/> -->
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL-->
            <div id="modal-dialog" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header-success">
                            <h3>Confirme Movimiento</h3>
                        </div>
                        <div class="modal-body">
                            <p id="msj_form">Esta seguro que desea ingresar el Reporte?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="btnYes" class="btn btn-success">Aceptar</a>
                            <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>

            <script src="{{asset('js/scriptF5.js')}}" language="javascript"></script>
            <script type="text/javascript">
                function situacionOnChange(sel) {
                    if (sel.value == "1")
                    {
                        $('#monto').show('inline');
                        $('#div_sector').hide('inline');
                        $('#btn_aceptar').hide('slow');
                    }
                    else
                    {
                        $('#monto').hide('inline');
                        $('#monto_money').val('');
                        $('#div_sector').show('inline');
                    }
                }
            </script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#Div-tabla').show();
                    $('#loadingPage').hide();
                    $('#Div_clientes').show();
                    $('#loadingPage').hide();
                    $('#tablaCte').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "scrollY": "200px",
                        "scrollCollapse": true,
                        "paging": false
                    });

                    //VALIDACION
                    $("input[type=radio]").click(function() {
                        var $Radiobtn = $(this).prop('checked');
                        if ($Radiobtn == true) {
                            $('#div_situacion').show('inline');
                        } else {
                            console.log('NO PRESIONADO');
                        }
                    });
                    $('#monto_money').keyup(function() {
                        if ($(this).val() == '') {
                            $('#div_sector').hide('inline');
                            $('#btn_aceptar').hide('slow');
                        } else {
                            $('#div_sector').show('inline');
                            $val = $('#tipo').val();
                            if ($val == null) {
                                $('#btn_aceptar').hide('slow');
                            } else {
                                $('#btn_aceptar').show('slow');
                            }
                        }
                    });
                    $('#tipo').change(function() {
                        $('#btn_aceptar').show('slow');
                    });
                    //FIN VALIDACION
                    
                    //Query para Modal                   
                    $('#btn_aceptar').click(function() {
                        $money = $('#monto_money').val();
                        if ($money == '') {
                            $('#msj_form').html('Esta seguro que desea ingresar el Reporte?')
                        } else {
                            $('#msj_form').html('Esta seguro que desea ingresar el monto de: $' + $money + ' al Reporte ?')
                        }
                        $('#modal-dialog').on('show', function() {
                            var link = $(this).data('link'),
                            confirmBtn = $(this).find('.confirm');
                        })
                        $('#btnYes').click(function() {
                            $(this).html('<i class="fa fa-cog fa-spin"></i>&nbsp; Cargando..');
                            $(this).attr('disabled', 'disabled');
                            $('#btnNo').hide('slow');
                            $('form').submit();
                        });
                    });//Termina Query     
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}