{% if is_granted('ROLE_USER') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('user_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente_user')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante_user')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li class="active"><a href="{{path('movimiento_user')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                            <font  size="5" class="panel-title">Movimientos del Cliente</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                {% for cte in cliente['data'] %}
                                <table align="center" width="80%" >
                                    <tr>
                                        <td rowspan="2"><font size="3"><b>Cliente:</b> {{cte['CL_Nombre']}}</td>
                                        <td><font size="3"><b>Email:</b> {{cte['CL_Email']}}</td>
                                        <td><font size="3"><b>RFC:</b> {{cte['CL_RFC']}}</td>
                                    </tr>
                                    <tr>
                                        <td><font size="3"><b>Teléfono 1: </b>{{cte['CL_Telefono']}}</td>
                                        <td><font size="3"><b>Teléfono 2:</b> {{cte['CL_Telefono2']}}</font></td>
                                    </tr>
                                </table><p>
                                {% endfor %}
                                <div class="col-md-12">
                                    <div id="loadingPage">
                                         <center>
                                            <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                            <h4 id="loading_msj">Procesando Datos...</h4>
                                        </center>
                                    </div>
                            <hr style="color: #930D0D; background-color: #930D0D; height: 1px;">
                            <div class="panel panel-primary filterable">
                                            <table width="100%" border="1" class="table table-striped table-hover ">
                                                <tr>      
                                                    <td align="center"></td>
                                                    <td align="center"><b>ID</td>
                                                    <td align="center"><b>Fecha</td>
                                                    <td align="center"><b>V1</td>
                                                    <td align="center"><b>V2</td>
                                                    <td align="center"><b>V3</td>
                                                </tr>
                                                    {% set bandera = 0 %}
                                                    {% for datos in detalle %}
                                                    {% for dato in datos %}
                                                        {% if dato['idSituacion'] == 5 or dato['idSituacion'] == 8 %}
                                                            {% set bandera = 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {% for datos in detalle %}
                                                    {% for dato in datos %}
                                                        {% if dato['idUsuario'] == idUsuario and dato['idSituacion'] == 1 or dato['idSituacion'] == 7 %}
                                                        <tr><td colspan="6"></td></tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td align="center">
                                                                {% if dato['idUsuario'] == idUsuario and dato['idSituacion'] == 1 or dato['idSituacion'] == 7 %}
                                                                {% if bandera != 1 %}
                                                                <a href="{{path('movimiento2_user',{'idReporte':dato['idReporte'], 'idCliente': idCliente, 'idTipo': dato['idTipo']})}}">
                                                                <img src="{{asset('images/actualizar.png')}}" width="65px">
                                                                </a>
                                                                {% endif %}
                                                                {% endif %}
                                                            </td>
                                                            <td align="center"><font size="2">R{{ dato['c_RP_Numero'] }}</font></td>
                                                            <td align="center"><font size="2">{{ dato['RP_FechaCreacion'] }}</font></td>
                                                            <td align="center"><font size="2">{{dato['SI_Clave']}}</font></td>
                                                            <td align="center"><font size="2">{{dato['TI_Clave']}}</font></td>
                                                            <td align="center">
                                                                {% if dato['RP_Rango'] == 0 %}
                                                                <font size="2"></font>
                                                                {% else %}
                                                                    {% if dato['idSituacion'] == 6 %}
                                                                    <font size="3" color="RED">${{ dato['RP_Rango']|number_format(2, '.', ',') }}</font>
                                                                    {% else %}
                                                                    <font size="3">${{ dato['RP_Rango']|number_format(2, '.', ',') }}</font>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr><td colspan="6"></td></tr>
                                                    {% endfor %}
                                            </table>
                                </div>
                                <table width="100%">
                                       <tr>
                                        <td align="right">
                                           <font color="black" size="3"><b>BALANCE:&nbsp;</b></font><font size="3" color="RED">
                                            {% set balance = 0 %}
                                            {% for datos in detalle %}
                                                {% for dato in datos %}
                                                {% set balance = dato['RP_Balance'] %}
                                                {% endfor %}
                                            {% endfor %}
                                                ${{ balance|number_format(2, '.', ',') }}</font>&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Modal -->
            <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body-loading">
                            <div class="text-center">
                                <center>
                                <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                <h4 id="loading_msj">Processing...</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#Div-tabla').show();
                    $('#loadingPage').hide();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $("#frm_Agregar_direccion").validate({
                        rules: {
                            DE_id_Pais: {
                                required: true,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript">
            $(document).ready(function() {
                    $("#frm_Agregar_representante").validate({
                        rules: {
                            representanteOption: {
                                required: true,
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
            });
            </script>
            <script type="text/javascript">
                $(document).ready(function()
                    {
                        $('#Div-tabla3').css("display","none");
                    $("#boton").click(function () {     
                        $('#Div-tabla3').toggle("slow");
                         });
                    });
                $(document).ready(function()
                    {
                        $('#Div-tablaRepresentantes').css("display","none");
                    $("#boton2").click(function () {     
                        $('#Div-tablaRepresentantes').toggle("slow");
                         });
                    });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}