{% if is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buen Punto</title>
        <!--[if gte IE 9]>
            <style type="text/css"> .gradient { filter: none; } </style>
        <![endif]-->
        <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    </head>
    
    <body background="#D1CBC6">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <ul class="nav navbar-nav">
                           <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
					        <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
					        <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
					        <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
					        <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
					        <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
					        <li class="active"><a href="#"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
					        <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
        	<div class="col-lg-11">
	            <div class="jumbotron">
	                <div class="panel panel-warning">
	                    <div class="panel-heading">
	                        <center><h3 class="panel-title">Reportes</h3></center>
	                    </div>
	                    <div class="panel-body"><p>
	                    	<a href="{{path('rpt1')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Actividad de los usuarios</img></a><p>
							<a href="{{path('rpt2')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Saldo por cliente</img></a><p>
							<a href="{{path('rpt3')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;General de movimientos por clientes</img></a><p>
							<a href="{{path('rpt4')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Monto mayor a $500,000.00</img></a><p>
                            <a href="{{path('rpt5')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Los 10 más reportados</img></a><p>
                            <a href="{{path('rpt6')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Resumen del bimestre del mes anterior</img></a><p>					
                            <a href="{{path('rpt7')}}"><img src="{{asset('images/activity.png')}}"> &nbsp;Desaparecidos e incobrables</img></a><p>             	
	                    </div>
	                </div>
	            </div>
        	</div>
        </div>
    <script src="{{asset('js/mediaqueries.js')}}"></script>
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
            <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
</body>
</html>
{% else %}
<script type="text/javascript">
<!--
    window.location = "{{path('logout')}}"
//-->
</script>
{% endif %}