{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li class="active"><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                            <font  size="5" class="panel-title">Actividad de los usuarios</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loadingPage">
                                         <center>
                                            <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                            <h4 id="loading_msj">Procesando Datos...</h4>
                                        </center>
                                    </div>
                                    <div id="Div-tabla" style="display: none;">
                                        <div class="panel panel-primary filterable">  
                                            <table id="tabla1" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Usuario</th>
                                                        <th>Distribuidor</th>
                                                        <th>Ultima Sesión </th>
                                                        <th> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Actividad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set gato = 1 %}
                                                    {% for usr in usuarios %}
                                                        {% if usr['US_UltimaSesion'] == '' %}
                                                        {% else %}
                                                        <tr>
                                                            <td><font size="2">{{ gato }}</font></td>
                                                            <td><font size="2">{{ usr['US_Nombre'] }} {{usr['US_ApellidoPaterno']}}</font></td>
                                                            <td><font size="2">{{ usr['DI_Nombre'] }}</font></td>
                                                            <td><font size="2">{{ usr['US_UltimaSesion'] }}</font></td>
                                                            <td align="center">
                                                            {% if usr['Actividad'] == 1 %}
                                                                <img src="{{asset('images/verde.png')}}">
                                                            {% elseif usr['Actividad'] == 2 %}
                                                                <img src="{{asset('images/amarillo.png')}}">
                                                            {% elseif usr['Actividad'] == 3 %}
                                                                <img src="{{asset('images/rojo.png')}}">
                                                            {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% set gato = gato + 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right" id="Div-tabla2" style="display: none;">
                            <a href="{{path('reporte')}}" class="btn btn-success pull-center btn-xs" style="font-size: 14px;">Regresar</a>
                            </div>
                            <div id="Div-tabla3" style="display: none;">
                            <table border='1' width="200px">
                                <tr>
                                    <td colspan="2" bgcolor="#911710" align="center"><font color="white" size="3">Nomenclatura</font></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#444444" align="center"><font color="white" size="3">No. días</font></td>
                                    <td bgcolor="#444444" align="center"><font color="white" size="3">Símbolo</font></td>
                                </tr>
                                <tr>
                                    <td bgcolor="white" align="center"><= 15</td>
                                    <td bgcolor="white" align="center"><img src="{{asset('images/verde.png')}}"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="white" align="center"> >=16 y <=30 </td>
                                    <td bgcolor="white" align="center"><img src="{{asset('images/amarillo.png')}}"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="white" align="center"> >= 31</td>
                                    <td bgcolor="white" align="center"><img src="{{asset('images/rojo.png')}}"></td>
                                </tr>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#Div-tabla').show();
                    $('#Div-tabla2').show();
                    $('#Div-tabla3').show();
                    $('#loadingPage').hide();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });                   
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}