{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li class="active"><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                                <font  size="5" class="panel-title">General de movimientos por clientes</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loadingPage">
                                        <center>
                                            <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                            <h4 id="loading_msj">Procesando Datos...</h4>
                                        </center>
                                    </div>
                                    <div id="Div-tabla" style="display: none;">
                                        <div class="panel panel-primary">
                                            <table class="table table-bordered" id="Mitabla" border="1" cellpadding="3" cellspacing="0">
                                                <tr>
                                                    <td align="center"><b>#</td>
                                                    <td align="center"><b>Cliente</td>
                                                    <td><b>No</td>
                                                    <td><b>Fecha</td>
                                                    <td><b>V1</td>
                                                    <td><b>V2</td>
                                                    <td><b>V3</td>
                                                </tr>
                                                {% set var = 0 %}
                                                {% for datos in clientes %}
                                                    <tr>
                                                        {%set var = var + 1%}
                                                        <td rowspan="{{datos|length}}" style="text-align: center; vertical-align: middle;">{{var}}</td>
                                                        <td style="text-align: center; vertical-align: middle;" rowspan="{{datos|length}}"><font>{{datos[0]['CL_RazonSocial']}}&nbsp;{{datos[0]['CL_TipoSoc']}}</font></td>                                                      
                                                    {%for dato in datos%}                                     
                                                        <td><font>{{dato['c_RP_Numero']}}</font></td>
                                                        <td><font size="2">{{dato['RP_FechaCreacion']}}</font></td>
                                                        <td><font size="2">{{dato['SI_Clave']}}</font></td>
                                                        <td><font size="2">{{dato['TI_Clave']}}</font></td>
                                                        <td>
                                                            {% if dato['RP_Rango'] == 0 %}
                                                                <font ><b>$ {{ dato['RP_Rango']|number_format(2, '.', ',') }}</font>
                                                                {% elseif dato['SI_Clave'] == 'A' %}
                                                                    <font  color="RED">$ {{ dato['RP_Rango']|number_format(2, '.', ',') }}</font>
                                                                    {% else %}
                                                                    <font >$ {{ dato['RP_Rango']|number_format(2, '.', ',') }}</font>
                                                                {% endif %}
                                                        </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr><td bgcolor="#FAE9CB" colspan="7"></td></tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <table width="100%">
                                            <tr>
                                                <td align="center">
                                                    <a href="{{path('reporte')}}" class="btn btn-success pull-right btn-xs" style="font-size: 14px;">Regresar</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
        <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
        <script src="{{asset('js/required.js')}}" language="javascript"></script>
        <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
        <script src="{{asset('js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('js/additional-methods.min.js')}}"></script>
        <script>
            $(document).ready(function() {
                $('#Div-tabla').show();
                $('#loadingPage').hide();
                
            });
        </script>
        <!--[if lt IE 9]>
                <script src="{{ asset('js/html5shiv.js') }}"></script>
                <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
    </body>
</html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}