{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li class="active"><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            {% set var = 0 %}
                    {% set fecha1 = "" %}
                    {% set anio = "" %}
                    {% set anio2 = "" %}
                    {% set fecha2 = "" %}
                    {% set var = ("now"|date("m")) %}
                    {% set anio = ("now"|date("Y")) %}
                    {% if var == 1 %}
                    {% set anio2 = anio - 1 %}
                        {% set fecha1 = "Enero" ~ " del " ~ anio %}
                        {% set fecha2 = "Diciembre" ~ " del " ~ anio2  %}
                     {% elseif var == 2 %}
                        {% set fecha1 = "Febrero" ~ " del " ~ anio %}
                        {% set fecha2 = "Enero" ~ " del " ~ anio %}
                     {% elseif var == 3 %}
                        {% set fecha1 = "Marzo" ~ " del " ~ anio %}
                        {% set fecha2 = "Febrero" ~ " del " ~ anio %}
                     {% elseif var == 4 %}
                        {% set fecha1 = "Abril" ~ " del " ~ anio %}
                        {% set fecha2 = "Marzo" ~ " del " ~ anio %}
                     {% elseif var == 5 %}
                        {% set fecha1 = "Mayo" ~ " del " ~ anio %}
                        {% set fecha2 = "Abril" ~ " del " ~ anio %}
                     {% elseif var == 6 %}
                        {% set fecha1 = "Junio" ~ " del " ~ anio %}
                        {% set fecha2 = "Mayo" ~ " del " ~ anio %}
                     {% elseif var == 7 %}
                        {% set fecha1 = "Julio" ~ " del " ~ anio %}
                        {% set fecha2 = "Junio" ~ " del " ~ anio %}
                     {% elseif var == 8 %}
                        {% set fecha1 = "Agosto" ~ " del " ~ anio %}
                        {% set fecha2 = "Julio" ~ " del " ~ anio %}
                     {% elseif var == 9 %}
                        {% set fecha1 = "Septiembre" ~ " del " ~ anio %}
                        {% set fecha2 = "Agosto" ~ " del " ~ anio %}
                     {% elseif var == 10 %}
                        {% set fecha1 = "Octubre" ~ " del " ~ anio %}
                        {% set fecha2 = "Septiembre" ~ " del " ~ anio %}
                     {% elseif var == 11 %}
                        {% set fecha1 = "Noviembre" ~ " del " ~ anio %}
                        {% set fecha2 = "Octubre" ~ " del " ~ anio %}
                     {% elseif var == 12 %}
                        {% set fecha1 = "Diciembre" ~ " del " ~ anio %}
                        {% set fecha2 = "Noviembre" ~ " del " ~ anio %}
                {% endif %}
            <div class="container">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                                <font  size="5" class="panel-title">Resumen del bimestre del mes anterior</font>
                            </center>
                        </div>
                        <div class="panel-body"><p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loadingPage">
                                        <center>
                                            <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                            <h4 id="loading_msj">Procesando Datos...</h4>
                                        </center>
                                    </div>
                                    <div id="Div-tabla" style="display: none;">
                                        <div class="panel panel-primary filterable">
                                            <table class="table table-bordered" id="Mitabla" cellpadding="3" cellspacing="0">
                                                <tr>
                                                    <td align="center"><font size="3">No. total de clientes acumulado al mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"></font><font size="3" color="RED">{% set x = 0 %}
                                                        {% for a2 in a %} {{a2}} {% set x = a2 %} {% endfor %}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto total acumulado al mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ A1|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto total de abonos acumulado al mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ C1|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto real a <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">
                                                    {% set total1 = 0 %}
                                                    {% set total1 = A1 - C1 %}
                                                    ${{ total1|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" bgcolor="#FAE9CB"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">No. total de clientes acumulado al mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center"><font size="3" color="RED">{% set y = 0 %}{% set total = 0 %}
                                            {% if c|length == 0 %}  {% else %} {% for c2 in c %} {% set y = c2 %} {% endfor %}{% endif %}
                                            {% set total = ( x - y ) %} {{total}}
                                                    </font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto total acumulado al mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ A2|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto total de abonos acumulado al mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center" align="center"><font size="3" color="RED">${{ C2|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto real a <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">
                                                    {% set total2 = 0 %}
                                                    {% set total2 = A2 - C2 %}
                                                    ${{ total2|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" bgcolor="#FAE9CB"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">No. de clientes en el mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">{% if c|length == 0 %} 0 {% else %} {% for c2 in c %} {{c2}} {% endfor %}{% endif %}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto en el mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ A3|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto de abonos en el mes de <font color="black">{{fecha1}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ C3|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" bgcolor="#FAE9CB"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">No. de clientes en el mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center"><font size="3" color="RED">{% if d|length == 0 %} 0 {% else %} {% for d2 in d %} {{d2}} {% endfor %}{% endif %}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto en el mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ A4|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center"><font size="3">Monto de abonos en el mes de <font color="black">{{fecha2}}</font></td>
                                                    <td align="center"><font size="3" color="RED">${{ C4|number_format(2, '.', ',') }}</font></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <table width="100%">
                                            <tr>
                                                <td align="center">
                                                    <a href="{{path('reporte')}}" class="btn btn-success pull-right btn-xs" style="font-size: 14px;">Regresar</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
        <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
        <script src="{{asset('js/required.js')}}" language="javascript"></script>
        <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
        <script src="{{asset('js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('js/additional-methods.min.js')}}"></script>
        <script src="{{asset('js/bootstrap-table.min.js')}}"></script>
        <!--[if lt IE 9]>
                <script src="{{ asset('js/html5shiv.js') }}"></script>
                <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
        <script>
            $(document).ready(function(){
               $('#Div-tabla').show();
               $('#loadingPage').hide(); 
            });
        </script>
    </body>
</html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}