<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buen Punto</title>
        <!--[if gte IE 9]>
            <style type="text/css"> .gradient { filter: none; } </style>
        <![endif]-->
        <!--[if lte IE 8]>
            <style>
              input {
                 background-color: #ffffff !important;
                 color: #464646 !important;
                 font-family: Arial !important;
              }
         </style>
            <![endif]-->
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
    </head>
    <body background="#D1CBC6">
        <div id="login-page">
            <div class="container">
                <form class="form-login mc-active" action="{{path('activa_cuenta2')}}" id="mc-form" method="POST" >
                    <input type="hidden" value="{{token}}" name="token">
                    <h2 class="form-login-heading">Activacion de Cuenta</h2>
                    <div class="login-wrap">
                        <center><p><strong>Introduce los sig. campos para Activar tu cuenta</strong></p></center>
                        <div class="input-group">
                            <span class="input-group-addon input-group-login"><i class="fa fa-user"></i></span>
                            <input id="user" type="text" name="usr" placeholder="Usuario" autocomplete="off" class="form-control placeholder-no-fix" required>
                        </div>
                        <br>
                        <div id="msj" style="display:none;"><center><p><strong><font color="#239997">-- Recuerda que tu contraseña debe coincidir --</font></strong></p></center></div>
                        <div id="msj-error" style="display:none;"><center><p><strong><font color="#B54343">-- Tu contraseña no coincide --</font></strong></p></center></div>
                        <div id="msj-succes" style="display:none;"><center><p><strong><font color="#68993A">-- Contraseña Correcta --</font></strong></p></center></div>
                        <div class="input-group" id="pass-1" style="display:none;">
                            <span class="input-group-addon input-group-login"><i class="fa fa-key" id="iconpass1"></i></span>
                            <input id="pass_1" type="password" name="pass" placeholder="Contraseña" autocomplete="off" class="form-control placeholder-no-fix" required>
                        </div>
                        <br>
                        <div class="input-group" id="pass-2" style="display:none;">
                            <span class="input-group-addon input-group-login"><i class="fa fa-key" id="iconpass2"></i></span>
                            <input id="pass_2" type="password" name="pass2" placeholder="Confirme su contraseña" autocomplete="off" class="form-control placeholder-no-fix" required>
                        </div>
                        <div id="contenido" style="display:none;">
                            <hr>
                            <center>
                                <button class="btn btn-danger" value="submit" type="submit" id="sub-2"><i class="fa fa-check"></i>&nbsp; Activar</button>
                            </center>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('js/additional-methods.min.js')}}"></script>
    <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
            <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
<script type="text/javascript">
        $(document).ready(function() {
            $('#sub-2').click(function(){                   
                    $(this).html('<i id="icon" class="fa fa-spinner fa-spin"></i> &nbsp; Activando...');
                    $(this).removeClass();
                    $(this).addClass('btn btn-success');
            });
            $('#sub-2').attr('disabled', 'disabled');
                    $('#user').keyup(function() {
                        if ($('#user').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('button[type="submit"]').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#pass_1').keyup(function() {
                        if ($('#user').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('#sub-2').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#pass_2').keyup(function() {

                        if ($('#user').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('#sub-2').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#user').focusin(function() {
                        $('#pass-1').show('linear');
                    });
                    $('#pass_1').focusin(function() {
                        $('#pass-2').show('linear');
                    });
                    $('#pass_2').focusin(function() {
                        $('#contenido').show('slow');
                    });
                    //Comienzo de validacion Pass
                    $pass1 = $('#pass_1');
                    $pass2 = $('#pass_2');

                    $pass1.focusin(function() {
                        $('#msj').show('inline');
                    });
                    $pass1.keyup(function() {
                        if ($pass1.val() == $pass2.val()) {
                                if($pass1.val() == '' && $pass2.val() == ''){
                                    $('#pass-1').removeClass('has-success');
                                    $('#pass-1').addClass('has-error');
                                    $('#pass-2').removeClass('has-success');
                                    $('#pass-2').addClass('has-error');
                                    $('#iconpass1').removeClass('fa fa-key');
                                    $('#iconpass1').addClass('fa fa-times');
                                    $('#iconpass2').removeClass('fa fa-key');
                                    $('#iconpass2').addClass('fa fa-times');
                                    $('#sub-2').attr('disabled', 'disabled');
                                    $('msj').hide('inline');
                                    $('#msj-succes').hide('inline');
                                    $('#msj-error').show('inline');
                                }else{
                                    $('#pass-1').removeClass('has-error');
                                    $('#pass-1').addClass('has-success');
                                    $('#pass-2').removeClass('has-error');
                                    $('#pass-2').addClass('has-success');
                                    $('#iconpass1').removeClass('fa fa-key');
                                    $('#iconpass1').removeClass('fa fa-times');
                                    $('#iconpass1').addClass('fa fa-check');
                                    $('#iconpass2').removeClass('fa fa-times');
                                    $('#iconpass2').addClass('fa fa-check');                                    
                                    $('msj').hide('inline');
                                    $('#msj-succes').show('inline');
                                    $('#msj-error').hide('inline');
                                    if($('#user').val() == ''){
                                        $('#sub-2').attr('disabled', 'disabled');
                                    }else{
                                        $('button[type="submit"]').removeAttr('disabled');
                                    }
                                 }
                        } else {
                            $('#pass-1').removeClass('has-success');
                            $('#pass-1').addClass('has-error');
                            $('#pass-2').removeClass('has-success');
                            $('#pass-2').addClass('has-error');
                            $('#iconpass1').removeClass('fa fa-key');
                            $('#iconpass1').addClass('fa fa-times');
                            $('#iconpass2').removeClass('fa fa-check');
                            $('#iconpass2').addClass('fa fa-times');
                            $('#sub-2').attr('disabled', 'disabled');
                            $('msj').hide('inline');
                            $('#msj-succes').hide('inline');
                            $('#msj-error').show('inline');
                        }
                    });
                    $pass2.keyup(function() {
                        if ($pass2.val() == $pass1.val()) {
                                if($pass1.val() == '' && $pass2.val() == ''){
                                    $('#pass-1').removeClass('has-success');
                                    $('#pass-1').addClass('has-error');
                                    $('#pass-2').removeClass('has-success');
                                    $('#pass-2').addClass('has-error');
                                    $('#iconpass1').removeClass('fa fa-key');
                                    $('#iconpass1').addClass('fa fa-times');
                                    $('#iconpass2').removeClass('fa fa-check');
                                    $('#iconpass2').addClass('fa fa-times');
                                    $('#sub-2').attr('disabled', 'disabled');
                                    $('msj').hide('inline');
                                    $('#msj-succes').hide('inline');
                                    $('#msj-error').show('inline');
                                }else{
                                    $('#pass-2').removeClass('has-error');
                                    $('#pass-2').addClass('has-success');
                                    $('#pass-1').removeClass('has-error');
                                    $('#pass-1').addClass('has-success');
                                    $('#iconpass2').removeClass('fa fa-key');
                                    $('#iconpass2').removeClass('fa fa-times');
                                    $('#iconpass2').addClass('fa fa-check');
                                    $('#iconpass1').removeClass('fa fa-times');
                                    $('#iconpass1').addClass('fa fa-check');
                                    $('msj').hide('inline');
                                    $('#msj-succes').show('inline');
                                    $('#msj-error').hide('inline');
                                    if($('#user').val() == ''){
                                        $('#sub-2').attr('disabled', 'disabled');
                                    }else{
                                        $('button[type="submit"]').removeAttr('disabled');
                                    }
                                }                 
                        } else {
                            $('#pass-2').removeClass('has-success');
                            $('#pass-2').addClass('has-error');
                            $('#pass-1').removeClass('has-success');
                            $('#pass-1').addClass('has-error');
                            $('#iconpass2').removeClass('fa fa-key');
                            $('#iconpass2').addClass('fa fa-times');
                            $('#iconpass1').removeClass('fa fa-check');
                            $('#iconpass1').addClass('fa fa-times');
                            $('#sub-2').attr('disabled', 'disabled');
                            $('msj').hide('inline');
                            $('#msj-succes').hide('inline');
                            $('#msj-error').show('inline');
                        }
                    });
                    //Terminacion de validacion
                    $pass1.focus(function() {
                        $(this).type = "text";
                    }).blur(function() {
                        $(this).type = "password";
                    });
        });
    </script>
</body>
</html>