{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 265px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li class="active"><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container center">
                <center>
                    <div id="loadingPage">
                        <img src="{{asset('images/loading.gif')}}" class="icon">
                        <h4 id="loading_msj">Procesando Datos...</h4>  
                    </div>
                </center>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" style="display: none;" id="detalle">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h3 class="panel-title">Detalle del Usuario</h3></center>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-offset-1">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img src="{{asset('images/user.png')}}" width="50">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="{{asset('images/distributor.png')}}" width="50">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    {% for usr in usuario['data'] %}                           
                                        <font size="5">{{ usr['US_Nombre'] }}</font><br>
                                    {% endfor %}
                                    <dl>
                                        <dd align="right">Apellido Paterno:</dd>
                                        <dt>Apellido Materno:</dt>
                                        <dd>E-Mail:</dd>
                                        <dt>Status:</dt>
                                        <dd>Nivel de Autoridad:</dd>
                                    </dl>
                                </div>
                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    {% for datos in usuario['data'] %}
                                        <font size="5">{{ datos['US_Nombre'] }}</font>
                                        <table class="table ">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><strong>Apellido Paterno::</strong></td>
                                                    <td>{{ datos['US_ApellidoPaterno'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Apellido Materno:</strong></td>
                                                    <td>{{ datos['US_ApellidoMaterno'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>E-Mail:</strong></td>
                                                    <td >{{ datos['US_Email'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Status:</strong></td>
                                                    <td>{{ datos['US_Status'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Nivel de Autoridad:</strong></td>
                                                    <td>{{ datos['US_NivelAutoridad'] }}</td>
                                                </tr>
                                    {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{{path('usuario')}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 14px;">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container center" id="detalle-tabla" style="display: none;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Distribuidores Relacionados</h3></center>
                    </div>
                    <div class="panel-body">
                        {% if distribuidor['data'] != '' %}
                        <div class="panel panel-primary filterable">
                                <table class="table table-bordred table-striped table-hover table-condensed">
                                    <thead>      
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>RFC</th>
                                    <th>Ver Detalle</th>
                                    </thead>
                                    <tbody>
                                    {% set var =  1 %} 
                                        {% for dis in distribuidor['data'] %}
                                            <tr>
                                                <td><font size="4">{{ var }}</font></td>
                                                <td><font size="4">{{ dis['DI_Nombre'] }}</font></td>
                                                <td><font size="4">{{ dis['DI_RFC'] }}</font></td>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{{path('detalle_distribuidor',{'idDistribuidor':dis['idDistribuidor']})}}"><img id="imagen" src="{{asset('images/viewdetail.png')}}"></a></td>
                                            </tr>
                                                {% set var = var + 1 %} 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <center>Este usuario no cuenta con distribuidores asociados</center>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });
                    $('#loadingPage').hide();
                    $('#detalle').show();
                    $('#detalle-tabla').show();
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}