{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 188pxpx; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li class="active"><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center>
                                <font  size="5" class="panel-title">Modificar Usuario</font>
                            </center>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="myform" action="{{path('addUsuario')}}" method="POST">
                                {% for datos in usuario['data'] %}
                                    <input type="hidden" name="idUsuario" value="{{ datos['idUsuario'] }}">
                                    <div class="form-group">
                                        <label for="inputNom" class="col-lg-2 control-label">Nombre:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="text" class="form-control input-sm" id="inputNom" name="nom" value="{{datos['US_Nombre']}}" placeholder="Nombre" autofocus required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputApellidoP" class="col-lg-2 control-label">Apellido Paterno:</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control input-sm" name="ap" id="inputApellidoP" value="{{datos['US_ApellidoPaterno']}}" placeholder="Apellido Paterno">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputApellidoM" class="col-lg-2 control-label">Apellido Materno:</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control input-sm" name="am" id="inputApellidoP" value="{{datos['US_ApellidoMaterno']}}" placeholder="Apellido Materno">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
                                        <div class="col-lg-10">
                                            <div class="required-field-block">
                                                <input type="email" class="form-control input-sm" name="email" value="{{datos['US_Email']}}" id="inputEmail" placeholder="Email" required>
                                                <div class="required-icon">
                                                    <div class="text">*</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DE_id_Pais" class="col-lg-2 control-label">Distribuidor:</label>
                                        <div class="col-lg-10">
                                            <select class="form-control input-sm" id="distribuidor" name="distribuidor">
                                                <option value="" disabled selected>Selecciona un distribuidor..</option>
                                                {% if datos['idDistribuidor'] != '' %}
                                                    {% for dis in distribuidor['data'] %}
                                                        <option value="{{ dis['idDistribuidor'] }}" {% if dis['idDistribuidor'] == datos['idDistribuidor'] %}selected{% endif %}>{{ dis['DI_Nombre'] }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DE_id_Estado" class="col-lg-2 control-label">Nivel de Autoridad:</label>
                                        <div class="col-lg-10">
                                            <select class="form-control input-sm" id="autoridad" name="autoridad">
                                                <option value="" disabled selected>Selecciona el nivel de autoridad..</option>
                                                {% if datos['US_NivelAutoridad'] == '' %}
                                                    <option value="ADMIN">ADMINISTRADOR</option>
                                                    <option value="VIEW">SOLO VISTA</option>
                                                    <option value="USER">CAPTURA</option>
                                                {% elseif datos['US_NivelAutoridad'] == 'ADMIN' %}
                                                    <option value="{{datos['US_NivelAutoridad']}}" selected>ADMINISTRADOR</option>
                                                    <option value="VIEW">SOLO VISTA</option>
                                                    <option value="USER">CAPTURA</option>
                                                {% elseif datos['US_NivelAutoridad'] == 'VIEW' %}
                                                    <option value="ADMIN">ADMINISTRADOR</option>
                                                    <option value="{{datos['US_NivelAutoridad']}}" selected>SOLO VISTA</option>
                                                    <option value="USER">CAPTURA</option>
                                                {% elseif datos['US_NivelAutoridad'] == 'USER' %}
                                                    <option value="ADMIN">ADMINISTRADOR</option>
                                                    <option value="VIEW">SOLO VISTA</option>
                                                    <option value="{{datos['US_NivelAutoridad']}}" selected>CAPTURA</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DE_id_Ciudad" class="col-lg-2 control-label">Status:</label>
                                        <div class="col-lg-10">
                                            <select class="form-control input-sm" id="status" name="status">
                                                <option value="" disabled selected>Selecciona el status..</option>
                                                {% if datos['US_Status'] == '' %}
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                {% elseif datos['US_Status'] == 'ACTIVO' %}
                                                    <option value="ACTIVO" selected>ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                {% elseif datos['US_Status'] == 'INACTIVO' %}
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO" selected>INACTIVO</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                                <table  width="90%" align="center">
                                    <tr>
                                        <td align="left" valign="bottom">
                                            <a class="btn btn-danger btn-xs" href="{{ path('usuario')}}" style="font-size: 14px;">Cancelar</a></td>
                                        <td align="right">
                                            <input type="submit" name="submit" class="btn btn-success pull-right btn-xs" style="font-size: 14px;" value="Agregar" />
                                        </td>
                                    </tr>
                                </table> 
                        </div>
                    </div>
                </div>
                <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
                <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
                <script src="{{asset('js/required.js')}}" language="javascript"></script>
                <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
                <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
                <script src="{{asset('js/jquery.validate.min.js')}}"></script>
                <script src="{{asset('js/additional-methods.min.js')}}"></script>
                <script type="text/javascript" language="javascript">
                    $(document).ready(function() {
                        $('#tabla1').dataTable({
                            "bSort": false,
                            "info": false,
                            "lengthChange": false,
                            "iDisplayLength": 7
                        });
                        $("#myform").validate({
                            rules: {
                                status: {
                                    required: true
                                },
                                autoridad: {
                                    required: true
                                },
                                distribuidor: {
                                    required: true
                                },
                                submitHandler: function(form) {
                                    form.submit();
                                }
                            }
                        });
                    });
                </script>
                <!--[if lt IE 9]>
                        <script src="{{ asset('js/html5shiv.js') }}"></script>
                        <script src="{{ asset('js/respond.min.js') }}"></script>
                <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}