
p {
	margin-bottom: 1.61em;
	text-align: center;
}
img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* MotionCAPTCHA canvas */
#mc-canvas {
	margin:0 auto 20px;
	padding:1px;
	display: block;
	border: 4px solid #433e45;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
/* Red border when invalid */
#mc-canvas.mc-invalid {
	border: 4px solid #aa4444;
}
/* Green border when valid */
#mc-canvas.mc-valid {
	border: 4px solid #44aa44;
}

