{% set lang = content['lang'] %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}Infoexpo{% endblock %}</title>
            {% block stylesheets %}
                <!--[if gte IE 9]>
                    <style type="text/css"> .gradient { filter: none; } </style>
                <![endif]-->
                <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap.css') }}" />
                <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-theme.css') }}" />
                <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/sticky-footer-navbar.css') }}" />
                <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-glyphicons.css') }}" />
                <style type="text/css">
                    html,body {
                        font-family: Arial,Helvetica,sans-serif;
                        background-image:url({{asset('public/images/bg.png')}});
                    }
                </style>
                {% stylesheets 
                    '@UtileriasHandleErrorBundle/Resources/public/css/main.css' 
                %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endblock stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon.ico') }}" />
        </head>
        <body>
            <div id="wrap">
                <div id="scene">
                    <div class="head_error">
                        <div class="head_error_cell logo-tony-gafete">
                            <span class="error-code">{{ content['code'] }}</span>
                            <img class="layer" data-depth="0.20" src="{{ asset('public/images/tonygafete.png') }}" alt="Tony Gafete">
                        </div>
                        <div class="head_error_cell description-error">
                            <div class="panel-error">
                                <div class="msg-sorry">{{ content['textos']['lb_error_sorry'][lang] }}</div>
                                <div class="msg-notify">{{ content['textos']['lb_error_notify'][lang] }}</div>
                                <div class="error-message">
                                    <span class="error">{{ content['message']|raw }}</span>
                                    <div class="error-uri-origin"><span class="glyphicon glyphicon-globe"></span>{{ app.request.uri }}</div>
                                    <p>{{ content['textos']['lb_at'][lang] }} {{ content['file'] }} {{ content['textos']['lb_line'][lang] }} <b>{{ content['line'] }}</b></p>
                                </div>
                                <div class="msg-try-follow">{{ content['textos']['lb_try'][lang] }}</div>
                                <div class="nav-buttons">
                                    <a href="{% if content['referer'] is defined and content['referer'] != "" %}{{ content['referer'] }}{% else %}{{ path('login', { 'lang':lang }) }}{% endif %}" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> {{ content['textos']['lb_return_back'][lang] }}</a>
                                    <a href="{{ path('login', { 'lang':lang } ) }}" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> {{ content['textos']['lb_home_page'][lang] }}</a>
                                    <a href="{{ app.request.uri }}" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span> {{ content['textos']['lb_try_again'][lang] }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infoexpo"><img id="infoexpo" class="layer" data-depth="0.70" src="{{ asset('public/images/infoexpo.png') }}" alt="Infoexpo"></div>
                    <div class="facetoface"><img id="facetoface" class="layer" data-depth="1" src="{{ asset('public/images/facetoface.png') }}" alt="Face to face"></div>
                </div>
            </div>
            {% block javascripts %}
                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                    <script src="{{ asset('public/js/bootstrap/html5shiv.js') }}"></script>
                    <script src="{{ asset('public/js/bootstrap/respond.min.js') }}"></script>
                <![endif]-->
                <script src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
                <script src="{{ asset('public/js/bootstrap/bootstrap.js') }}"></script>
                <script src="{{ asset('public/js/parallax/parallax.js') }}"></script>
                <script type="text/javascript">
                    var scene = document.getElementById('scene');
                    var parallax = new Parallax(scene);
                </script>
            {% endblock %}
            {% include '::ga.html.twig' %}
        </body>
    </html>