 {% extends '::base.html.twig' %}

{# ------------   CSS   -------------- #}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
       '@UtileriasConfigurationBundle/Resources/public/css/cache.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
<link rel="stylesheet" href="{{ asset('public/css/skin-vista/ui.dynatree.css') }}" />
{% endblock stylesheets %}

{% block body %}
<div class="row text-center">
    
        <div id="tree"> </div>
        <div>
            <input type="hidden" id="form_delete" value="{{ path('utilerias_cache') }}">
            <button type="button" id="selectAll" class="btn btn-default"><span class="glyphicon glyphicon-saved" style="margin-right: 5px;"></span>Seleccionar Todo</button>
            <button type="button" id="deselectAll" class="btn btn-default"><span class="glyphicon glyphicon-unchecked" style="margin-right: 5px;"></span>Deseleccionar Todo</button>
            <button type="button" id="delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash" style="margin-right: 5px;"></span> Borrar</button>
        </div>

    {# Modal Bootstrap #}
    <div class="modal fade" id="modal-cache" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ content['App']['Evento_' ~ lang]|raw }}</h4>
                </div>
                <div class="modal-body">¿Estás seguro de eliminar <span id="no_items"></span> elementos permanentemente?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-items">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block loader %}{% include '::loader.html.twig' %}{% endblock %}

{# ------------   JAVASCRIPTS   -------------- #}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('public/js/jquery.dynatree.js') }}"></script>
<script src="{{ asset('public/js/jquery.cookie.js') }}"></script>
    {% javascripts 
        '@UtileriasConfigurationBundle/Resources/public/js/cache.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

<script type="text/javascript">
    $(function() {
        $("#tree").dynatree({
            fx: {height: "toggle", duration: 200},
            checkbox: true,
            selectMode: 3,
            persist: true,
            onClick: function(node, event) {
                if (node.getEventTargetType(event) == "title")
                    node.toggleSelect();
            },
            children: [// Pass an array of nodes.
                {% for key, item in content['files'] %}
                    {{ item|json_encode()|raw }},
                {% endfor %}
            ]
        });
    });
</script>
{% endblock %}