#wrap{
    margin: 0px;
    padding: 0px;
}

.head_error{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;

    background: #C4E7AF;
    border-bottom: 20px solid #76D637;
    -webkit-box-shadow: 1px 1px 10px 0px #AAC2B1;
    box-shadow: 1px 1px 10px 0px #AAC2B1;
}

.head_error_cell{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.msg-sorry{
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 35px;
    color: #053768;
    margin: 5px 0px;
}

.msg-try-follow{
    height: auto;
    font-size: 20px;
    border-bottom: 1px solid #CCC;
    display: table;
    color: #FFF;
    border-color: rgba(5, 55, 104, 0.51) !important;
    background-color: #053768;
    position: relative;
    left: -30px;
    padding: 5px 10px 5px 30px;
    border-radius: 0 4px 4px 0;
    border-color: rgba(5, 55, 104, 0.51);
}

.msg-try-follow:after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 0 solid rgba(0, 0, 0, 0);
    border-right-width: 1em;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom: 1em solid rgba(0, 0, 0, 0);
    border-left: 0 solid rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
}


.error-message{
    color: #6D6D6D;
    background-color: #FFF;
    border: 2px solid #76D637;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px 0px;
    margin-bottom: 30px;
}

.msg-notify{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #053768;
    margin: 5px 0px;
    width: auto;
}

.nav-buttons .btn{
    margin-top: 1%;
    margin-right: 2%;
}

.nav-buttons .btn span{
    margin-right: 10px;
}

.logo-tony-gafete{
    text-align: right;
    width: 29%;
}

.logo-tony-gafete img{
    width: 100%;
    max-width: 151px;
    height: 100%;
    max-height: 250px;
    position: relative;
    display: inline-block !important;
}

.description-error{
    text-align: left;
    width: 70%;
}

.error-code{
    font-size: 170px;
    font-weight: 100;
    color: #E2F7D6;
    text-shadow: -1px -2px #CCC;
    vertical-align: middle;
}

.error-uri-origin{
    font-size: 12px;
}

.error-uri-origin span{
    margin-right: 3px;
}

.error-message span.error{
    color: red;
}

.panel-error{
    text-align: justify;
    width: 98%;
    margin: 1%;
    padding: 2%;
    position: relative;
    display: inline-block;
    /*border-left: 1px solid #DDD;*/
}

.infoexpo{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.infoexpo img{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 132px;
    display: inline-block !important;
    position: relative !important;
}

.facetoface{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.facetoface img{
    width: 100%;
    max-width: 564px;
    height: 100%;
    max-height: 179px;
    display: inline-block !important;
    position: relative !important;
}

@media all and (max-width: 985px) {
    .description-error{
        display: block;
        width: 100%;
    }

    .logo-tony-gafete{
        width: 100%;
        height: 80px;
    }

    .panel-error{
        margin-top: 0px;
        padding-top: 0px;
    }

    .error-code{
        font-size: 70px;
    }

    .logo-tony-gafete img{
        max-width: 50px;
        max-height: 83px;
        float: left;
    }
}

@media all and (max-width: 685px) {
    .nav-buttons .btn{
        display: block;
    }
}