{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="loadingPage">
                <center>
                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                    <h4 id="loading_msj">Procesando Datos...</h4>
                </center>
            </div>
            <div class="container" style="display:none;" id="div-tabla">
                <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h2 class="panel-title">Bienvenido</h2></center>
                        </div>
                        <div class="panel-body"><p>
                                <a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}"><font size="5"> &nbsp;Clientes</font></img></a><p>
                                <a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}"><font size="5"> &nbsp;Representantes</font></img></a><p>
                                <a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}"><font size="5"> &nbsp;Movimientos</font></img></a><p>
                                <a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}"><font size="5"> &nbsp;Usuarios</font></img></a><p>
                                <a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}"><font size="5"> &nbsp;Distribuidores</font></img></a><p>
                                <a href="{{path('cambia_pass_admin')}}"><img src="{{asset('images/pwdchange.png')}}"><font size="5"> &nbsp;Cambiar contraseña</font></img></a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/mediaqueries.js')}}"></script>
            <script src="{{asset('js/jquery.js')}}"></script>
            <script src="{{asset('js/scriptF5.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
            <script>
                $(document).ready(function(){
                    $('#loadingPage').hide();
                    $('#div-tabla').show();
                });
            </script>
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}