{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <!--[if lte IE 8]>
            <style>
              input {
                 background-color: #ffffff !important;
                 color: #464646 !important;
                 font-family: Arial !important;
              }
         </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="loadingPage">
                <center>
                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                    <h4 id="loading_msj">Procesando Datos...</h4>
                </center>
            </div>
            <div class="container" style="display:none;" id="div-tabla">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h2 class="panel-title">Cambiar contraseña</h2></center>
                        </div>
                        <div class="panel-body"><p>
                            <center>
                                <form class="form-login mc-active" action="{{path('cambia_pass_admin2')}}" id="mc-form" method="POST" >
                                    <input type="hidden" value="" name="token">
                                    <p>
                                        {# mensajes flash #}
                                        {% for flashMessage in app.session.flashbag.get('flash1') %}
                                            <font color="RED" id="msj"> -- {{ flashMessage }} -- </font>
                                        {% endfor %}
                                        {# mensajes flash #}
                                    <p>
                                    <div class="login-wrap col-lg-8 col-lg-offset-2" >
                                        <div class="input-group">
                                            <span class="input-group-addon input-group-login"><i class="fa fa-key"></i></span>
                                            <input id="pass_0" type="text" name="usr" placeholder="Contraseña" autocomplete="off" class="form-control placeholder-no-fix" required>
                                        </div>
                                        <br>
                                        <div id="msj" style="display:none;"><center><p><strong><font color="#239997">-- Recuerda que tu contraseña debe coincidir --</font></strong></p></center></div>
                                        <div id="msj-error" style="display:none;"><center><p><strong><font color="#B54343">-- Tu contraseña no coincide --</font></strong></p></center></div>
                                        <div id="msj-succes" style="display:none;"><center><p><strong><font color="#68993A">-- Contraseña Coincide --</font></strong></p></center></div>
                                        <div class="input-group" id="pass-1" style="display:none;">
                                            <span class="input-group-addon input-group-login"><i class="fa fa-key" id="iconpass1"></i></span>
                                            <input id="pass_1" type="password" name="pass" placeholder="Contraseña Nueva" autocomplete="off" class="form-control placeholder-no-fix" required>
                                        </div>
                                        <br>
                                        <div class="input-group" id="pass-2" style="display:none;">
                                            <span class="input-group-addon input-group-login"><i class="fa fa-key" id="iconpass2"></i></span>
                                            <input id="pass_2" type="password" name="pass2" placeholder="Confirme su contraseña Nueva" autocomplete="off" class="form-control placeholder-no-fix" required>
                                        </div>
                                        <div id="contenido" style="display:none;">
                                            <hr>
                                            <center>
                                                <button class="btn btn-danger" value="submit" type="submit" id="sub-2"><i class="fa fa-check"></i>&nbsp; Cambiar Contraseña</button>
                                            </center>
                                        </div> 
                                    </div>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
                <![endif]-->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#loadingPage').hide();
                    $('#div-tabla').show();
                    $('#sub-2').attr('disabled', 'disabled');
                    $('#pass_0').keyup(function() {
                        if ($('#pass_0').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('button[type="submit"]').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#pass_1').keyup(function() {
                        if ($('#pass_0').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('#sub-2').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#pass_2').keyup(function() {

                        if ($('#pass_0').val() != '' && $('#pass_1').val() != '' && $('#pass_2').val() != '') {
                            $('#sub-2').removeAttr('disabled');
                        } else {
                            $('#sub-2').attr('disabled', 'disabled');
                        }
                    });
                    $('#pass_0').focusin(function() {
                        $('#pass-1').show('linear');
                    });
                    $('#pass_1').focusin(function() {
                        $('#pass-2').show('linear');
                    });
                    $('#pass_2').focusin(function() {
                        $('#contenido').show('slow');
                    });
                    //Comienzo de validacion Pass
                    $pass1 = $('#pass_1');
                    $pass2 = $('#pass_2');

                    $pass1.focusin(function() {
                        $('#msj').show('inline');
                    });
                    $pass1.keyup(function() {
                        if ($pass1.val() == $pass2.val()) {
                            if ($pass1.val() == '' && $pass2.val() == '') {
                                $('#pass-1').removeClass('has-success');
                                $('#pass-1').addClass('has-error');
                                $('#pass-2').removeClass('has-success');
                                $('#pass-2').addClass('has-error');
                                $('#iconpass1').removeClass('fa fa-key');
                                $('#iconpass1').addClass('fa fa-times');
                                $('#iconpass2').removeClass('fa fa-key');
                                $('#iconpass2').addClass('fa fa-times');
                                $('#sub-2').attr('disabled', 'disabled');
                                $('msj').hide('inline');
                                $('#msj-succes').hide('inline');
                                $('#msj-error').show('inline');
                            } else {
                                $('#pass-1').removeClass('has-error');
                                $('#pass-1').addClass('has-success');
                                $('#pass-2').removeClass('has-error');
                                $('#pass-2').addClass('has-success');
                                $('#iconpass1').removeClass('fa fa-key');
                                $('#iconpass1').removeClass('fa fa-times');
                                $('#iconpass1').addClass('fa fa-check');
                                $('#iconpass2').removeClass('fa fa-times');
                                $('#iconpass2').addClass('fa fa-check');
                                $('msj').hide('inline');
                                $('#msj-succes').show('inline');
                                $('#msj-error').hide('inline');
                                if ($('pass_0').val() == '') {
                                    $('#sub-2').attr('disabled', 'disabled');
                                } else {
                                    $('button[type="submit"]').removeAttr('disabled');
                                }
                            }
                        } else {
                            $('#pass-1').removeClass('has-success');
                            $('#pass-1').addClass('has-error');
                            $('#pass-2').removeClass('has-success');
                            $('#pass-2').addClass('has-error');
                            $('#iconpass1').removeClass('fa fa-key');
                            $('#iconpass1').addClass('fa fa-times');
                            $('#iconpass2').removeClass('fa fa-check');
                            $('#iconpass2').addClass('fa fa-times');
                            $('#sub-2').attr('disabled', 'disabled');
                            $('msj').hide('inline');
                            $('#msj-succes').hide('inline');
                            $('#msj-error').show('inline');
                        }
                    });
                    $pass2.keyup(function() {
                        if ($pass2.val() == $pass1.val()) {
                            if ($pass1.val() == '' && $pass2.val() == '') {
                                $('#pass-1').removeClass('has-success');
                                $('#pass-1').addClass('has-error');
                                $('#pass-2').removeClass('has-success');
                                $('#pass-2').addClass('has-error');
                                $('#iconpass1').removeClass('fa fa-key');
                                $('#iconpass1').addClass('fa fa-times');
                                $('#iconpass2').removeClass('fa fa-check');
                                $('#iconpass2').addClass('fa fa-times');
                                $('#sub-2').attr('disabled', 'disabled');
                                $('msj').hide('inline');
                                $('#msj-succes').hide('inline');
                                $('#msj-error').show('inline');
                            } else {
                                $('#pass-2').removeClass('has-error');
                                $('#pass-2').addClass('has-success');
                                $('#pass-1').removeClass('has-error');
                                $('#pass-1').addClass('has-success');
                                $('#iconpass2').removeClass('fa fa-key');
                                $('#iconpass2').removeClass('fa fa-times');
                                $('#iconpass2').addClass('fa fa-check');
                                $('#iconpass1').removeClass('fa fa-times');
                                $('#iconpass1').addClass('fa fa-check');
                                $('msj').hide('inline');
                                $('#msj-succes').show('inline');
                                $('#msj-error').hide('inline');
                                if ($('#pass_0').val() == '') {
                                    $('#sub-2').attr('disabled', 'disabled');
                                } else {
                                    $('button[type="submit"]').removeAttr('disabled');
                                }
                            }
                        } else {
                            $('#pass-2').removeClass('has-success');
                            $('#pass-2').addClass('has-error');
                            $('#pass-1').removeClass('has-success');
                            $('#pass-1').addClass('has-error');
                            $('#iconpass2').removeClass('fa fa-key');
                            $('#iconpass2').addClass('fa fa-times');
                            $('#iconpass1').removeClass('fa fa-check');
                            $('#iconpass1').addClass('fa fa-times');
                            $('#sub-2').attr('disabled', 'disabled');
                            $('msj').hide('inline');
                            $('#msj-succes').hide('inline');
                            $('#msj-error').show('inline');
                        }
                    });
                    //Terminacion de validacion
                    $pass1.focus(function() {
                        $(this).type = "text";
                    }).blur(function() {
                        $(this).type = "password";
                    });
                });
            </script>
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}