<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=100" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <title>Buen Punto</title>
        <!--[if lte IE 8]>
            <style>
              input {
                 background-color: #ffffff !important;
                 color: #464646 !important;
                 font-family: Arial !important;
              }
            </style>
            <![endif]-->
        <!--[if gte IE 9]>
            <style type="text/css"> .gradient { filter: none; } </style>
        <![endif]-->
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    </head>
    <body background="#D1CBC6">
        <div id="login-page">
            <div class="container">
                <form class="form-login mc-active" action="{{path('valida')}}" id="mc-form" method="POST" >
                    <h2 class="form-login-heading">Autentificación</h2>
                    <div class="login-wrap" id="contenedor">
                        <div class="input-group">
                            <span class="input-group-addon input-group-login"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Usuario" name='usr' id="user" required autofocus>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon input-group-login"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Contraseña" id="pass" name='pwd' required>
                        </div>
                        <br>
                        <div id="contenido" style="display:none;">
                            <center>
                                <div id="recaptcha_div"></div>
                            </center>
                            <p><p>
                                <button class="btn btn-danger btn-block" type="submit" value="submit" id='sub' disabled><i id="icon" class="fa fa-lock"></i> &nbsp; Acceder</button>
                        </div>
                        <hr>
                        <span class="pull-right">
                            {# mensajes flash #}
                            {% for flashMessage in app.session.flashbag.get('flash1') %}
                                <input type="hidden" name="in" value="{{ flashMessage }}" id="input" />
                            {% endfor %}
                            {# mensajes flash #}
                            <a href="{{path('recupera_view')}}"><strong> ¿Olvidaste tu contraseña? </strong></a>                    
                        </span>                                              
                    </div>
                </form>
            </div>
        </div>

        <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
        <script src="{{asset('js/scriptF5.js')}}" language="javascript"></script>
        <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
        <script src="{{asset('js/required.js')}}" language="javascript"></script>
        <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
        <script src="{{asset('js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('js/notify.js')}}"></script>
        <script src="{{asset('js/additional-methods.min.js')}}"></script>
        <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
        <!--[if lt IE 9]>
                <script src="{{ asset('js/html5shiv.js') }}"></script>
                <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
        <script type="text/javascript">
            $(document).ready(function() {
                $input1 = $('#user');
                $input2 = $('#pass');
                function showRecaptcha() {
                    Recaptcha.create("6Leh8vgSAAAAAAikexWNzdfMVyHe0rAVKaAsxc1I", 'recaptcha_div', {
                        theme: "white",
                        callback: Recaptcha.focus_response_field
                    });
                }
                showRecaptcha();
                $('#sub').click(function() {
                    $(this).html('<i id="icon" class="fa fa-spinner fa-spin"></i> &nbsp; Verificando');
                    $(this).removeClass();
                    $(this).addClass('btn btn-success btn-block');
                });
                $('#pass').focusin(function() {
                    $('#contenido').show('linear');
                    $('#msj').hide('fast');
                });
                if ($('#input').val() == 'Captcha invalido intente de nuevo') {
                    $('#contenedor').notify("Captcha invalido intente de nuevo", {position: "right middle", className: 'error'});
                } else if ($('#input').val() == 'Verifique su usuario y contraseña') {
                    $('#contenedor').notify("Verifique su usuario y contraseña", {position: "right middle", className: 'error'});
                } else if ($('#input').val() == 'Se envio un correo a su email') {
                    $('#contenedor').notify("Se envio un correo a su email", {position: "left middle", className: 'success'});
                } else if ($('#input').val() == 'Por favor verifique su email') {
                    $('#contenedor').notify("Por favor verifique su email", {position: "right middle", className: 'error'});
                } else if ($('#input').val() == 'Surgio un error') {
                    $('#contenedor').notify("Surgio un error", {position: "right middle", className: 'error'});
                }
                $input1.keyup(function(){
                    if($input1.val() == '' && $input2.val() == ''){                        
                        $('#sub').attr('disabled', 'disabled');
                    }else if($input1.val() == '' || $input2.val() == ''){                        
                        $('#sub').attr('disabled', 'disabled');
                    }else{
                        $('#sub').removeAttr('disabled');
                    }
                });
                $input2.keyup(function(){
                    if($input1.val() == '' && $input2.val() == ''){                      
                        $('#sub').attr('disabled', 'disabled');
                    }else if($input1.val() == '' || $input2.val() == ''){                      
                        $('#sub').attr('disabled', 'disabled');
                    }else{
                        $('#sub').removeAttr('disabled');
                    }
                });
            });
        </script>
    </body>
</html>