{% if is_granted('ROLE_VIEW') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buen Punto</title>
        <!--[if gte IE 9]>
            <style type="text/css"> .gradient { filter: none; } </style>
        <![endif]-->
        <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    </head>
    
    <body background="#D1CBC6">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font size="6">Buen punto</font></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <ul class="nav navbar-nav">
                           <li class="active"><a href="{{path('view_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                            <li><a href="{{path('cliente_view')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                            <li><a href="{{path('representante_view')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                            <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-lg-11">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                                <center><h2 class="panel-title">Mensaje al administrador</h2></center>
                        </div>
                        <div class="panel-body"><p><center>
                        <form action="{{path('mensaje_al_admin2_view')}}" method="POST">
                            Asunto<br><input type="text" name="asunto" size="50" placeholder="Asunto" required><p>
                            Mensaje<br><textarea name="mensaje" rows="10" cols="50" style="resize: none;" placeholder="Escriba aqui su mensaje" required></textarea><p>
                            <input type="submit"  class="btn btn-success btn-xs" style="font-size: 14px;" value="Aceptar"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="{{path('view_menu')}}" class="btn btn-danger btn-xs" style="font-size: 14px;">Cancelar</a>
                        </form></center>
                        </div>
                        </div>
            </div>
        </div>
    <script src="{{asset('js/mediaqueries.js')}}"></script>
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
            <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
</body>
</html>
{% else %}
<script type="text/javascript">
<!--
    window.location = "{{path('logout')}}"
//-->
</script>
{% endif %}