<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buen Punto</title>
        <!--[if gte IE 9]>
            <style type="text/css"> .gradient { filter: none; } </style>
        <![endif]-->
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet">
        <link href="{{asset('css/Captcha.css')}}" rel="stylesheet" >
        <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />


    </head>
    <body background="#D1CBC6">
        <div id="login-page">
            <div class="container">
                <form class="form-login mc-active" action="{{path('recupera')}}" id="mc-form" method="POST" >
                    <h2 class="form-login-heading">Recuperacion de Contraseña</h2>
                    <div class="login-wrap" id="contenedor">
                        <center><p><strong>Favor de introducir su correo electronico.</strong></p></center>
                        <div class="input-group">
                            <span class="input-group-addon input-group-login">@</span>
                            <input id="email" type="email" name="correo" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" required>
                        </div>
                        <br>
                        <center>
                            {# mensajes flash #}
                            {% for flashMessage in app.session.flashbag.get('flash1') %}
                                <div class="pull-right"><input type="hidden" name="in" value="{{ flashMessage }}" id="input" />
                                {% endfor %}
                                {# mensajes flash #}
                        </center>
                        <br>
                        <div id="contenido" style="display:none;">
                            <center>
                                <div id="recaptcha_div"></div>
                            </center>
                            <hr>
                            <center>
                                <button class="btn btn-danger" value="submit" type="submit" id="sub-2" disabled><i class="fa fa-envelope-o"></i>&nbsp; Enviar</button>
                            </center>
                        </div> 
                    </div>
                </form>
            </div>
        </div>

        <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
        <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
        <script src="{{asset('js/required.js')}}" language="javascript"></script>
        <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
        <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
        <script src="{{asset('js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('js/notify.js')}}"></script>
        <script src="{{asset('js/additional-methods.min.js')}}"></script>
        <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
        <!--[if lt IE 9]>
                <script src="{{ asset('js/html5shiv.js') }}"></script>
                <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        <script type="text/javascript">
            $(document).ready(function() {
                
                $('#sub-2').click(function(){                   
                    $(this).html('<i id="icon" class="fa fa-spinner fa-spin"></i> &nbsp; Enviando Correo...');
                    $(this).removeClass();
                    $(this).addClass('btn btn-success');
                });

                function showRecaptcha() {
                    Recaptcha.create("6Leh8vgSAAAAAAikexWNzdfMVyHe0rAVKaAsxc1I", 'recaptcha_div', {
                        theme: "white",
                        callback: Recaptcha.focus_response_field
                    });
                }
                showRecaptcha();

                $('#email').focusin(function() {
                    $('#contenido').show('linear');
                    $('#msj').hide('fast');
                });
                
                if($('#input').val() == 'Por favor verifique su email'){
                           $('#contenedor').notify("Por favor verifique su email",{ position:"right middle",className: 'error' });
                    }else if($('#input').val() == 'Captcha invalido intente de nuevo'){
                           $('#contenedor').notify("Captcha invalido intente de nuevo",{ position:"right middle",className: 'error' });
                    }
                //Validacion de correo con jquery
                $('#email').keyup(function(){
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if( !emailReg.test( $(this).val() ) ) {
                      $('#sub-2').attr('disabled', 'disabled'); 
                    } else {
                      $('#sub-2').removeAttr('disabled');
                    }                   
                });
            });
        </script>
    </body>
</html>