{% if is_granted('ROLE_ADMIN') %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Buen Punto</title>
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link href="{{asset('css/bootstrap_2.css')}}" rel="stylesheet">
            <link href="{{asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link href="{{asset('css/modal.css')}}" rel="stylesheet" />
            <link href="{{asset('css/img.css')}}" rel="stylesheet" />
            <link href="{{asset('css/required.css')}}" rel="stylesheet" />
            <link href="{{asset('media/css/jquery.dataTables.css')}}" rel="stylesheet">
            <link href="{{asset('media/css/demo.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
            <style>
                .modal-static { 
                    position:absolute;
                    top:50%;
                    left: 50%;
                    margin-top: -100px;
                    margin-left: -117px;
                    overflow: visible !important;
                }
                .modal-static,
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    width: 253px;
                    height: 188px; 
                }
                .modal-static .modal-dialog,
                .modal-static .modal-content {
                    padding: 0 !important; 
                    margin: 0 !important;
                }
                .modal-static .modal-content .icon {
                }
            </style>
        </head>
        <body background="#D1CBC6">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><font size="6">Buen Punto</font></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="{{path('admin_menu')}}"><img src="{{asset('images/home.png')}}" width='20' > &nbsp;Inicio</img></a></li>
                                <li><a href="{{path('cliente')}}"><img src="{{asset('images/client.png')}}" width='20' > &nbsp;Clientes</img></a></li>
                                <li class="active"><a href="{{path('representante')}}"><img src="{{asset('images/representant.png')}}" width='20' > &nbsp;Representantes</img></a></li>
                                <li><a href="{{path('movimiento')}}"><img src="{{asset('images/move.png')}}" width='20' > &nbsp;Movimientos</img></a></li>
                                <li><a href="{{path('usuario')}}"><img src="{{asset('images/user.png')}}" width='20' > &nbsp;Usuarios</img></a></li>
                                <li><a href="{{path('distribuidor')}}"><img src="{{asset('images/distributor.png')}}" width='20' > &nbsp;Distribuidores</img></a></li>
                                <li><a href="{{path('reporte')}}"><img src="{{asset('images/activity.png')}}" width='20' > &nbsp;Reportes</img></a></li>
                                <li><a href="{{path('logout')}}"><img src="{{asset('images/logout.png')}}" width='20' > &nbsp;Salir</img></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        <center>
            <div id="loadingPage">
                <img src="{{asset('images/loading.gif')}}" class="icon">
                <h4 id="loading_msj">Procesando Datos...</h4>  
            </div>
        </center>
            <div class="container center" style="display: none;" id="div-tabla-1">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <center><h3 class="panel-title">Detalle del Representante</h3></center>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-offset-1">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img src="{{asset('images/representant.png')}}" width="50">
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="{{asset('images/representant.png')}}" width="50">
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    {% for datos in datos_rep['data'] %}                           
                                        <font size="5">{{ datos['RE_NombreCompleto'] }}</font><br>

                                    </div>
                                    <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                        <font size="5">{{ datos['RE_NombreCompleto'] }}</font>  
                                        <table class="table ">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><strong>Email:</strong></td>
                                                    <td>{%if datos['RE_Email'] == '' %}<font color="RED">No Asignado</font>{%else%}{{ datos['RE_Email'] }}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>RFC:</strong></td>
                                                    <td>{%if datos['RE_RFC'] == '' %}<font color="RED">No Asignado</font>{%else%}{{ datos['RE_RFC'] }}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.1:</strong></td>
                                                    <td >{%if datos['RE_Telefono'] == '' %}<font color="RED">No Asignado</font>{%else%}{{ datos['RE_Telefono'] }}{%endif%}</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><strong>Telefono No.2:</strong></td>
                                                    <td>{%if datos['RE_Telefono2'] == '' %}<font color="RED">No Asignado</font>{%else%}{{ datos['RE_Telefono2'] }}{%endif%}</td>
                                                </tr>                                              
                                            {% endfor %}
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            {% for datos in datos_rep['data'] %}
                                <a href="{{path('detalle_representante',{'idRepresentante':datos['idRepresentante']})}}" data-toggle="modal" class="btn btn-success btn-xs" style="font-size: 18px;">Regresar</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container center" style="display: none;" id="div-tabla-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <center><h3 class="panel-title">Direcciones del Representante</h3></center>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-primary filterable">
                            {% if datos_dir['data'] != '' %}
                                <table class="table table-bordred table-striped table-hover table-condensed">
                                    <thead>      
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Pais</th>
                                    <th>Estado</th>
                                    <th>Ciudad/Municipio</th>
                                    <th>Colonia</th>
                                    <th>Calle y No.</th>
                                    <th>C.P.</th>
                                    <th>Modificar</th>
                                    </thead>
                                    <tbody>
                                        {% for datos in datos_dir['data'] %} 
                                            <tr>
                                                <td><font size="2">{{ datos['idDireccionRepresentante'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_FechaCreacion'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_Pais'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_Estado'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_Ciudad'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_Colonia'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_Calle'] }}</font></td>
                                                <td><font size="2">{{ datos['DR_CP'] }}</font></td>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{path('editar_direccion_representante',{'idDir':datos['idDireccionRepresentante'], 'idRep': datos['idRepresentante']})}}"><img id="imagen" src="{{asset('images/edit.png')}}"></a></td>
                                            </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            {%else%}        
                                <center><font color="RED">No se encontraron direcciones asignadas a este Representante</font></center>
                                {%endif%}
                        </div>
                        <a id="btnDir" href="#" class="btn btn-success btn-xs" style="font-size: 14px;"><img src="{{asset('images/add.png')}}" /> &nbsp; Editar Direccion</a>
                        <div id="addDir" style="display: none;">
                            <hr style="color: #930D0D; background-color: #930D0D; height: 1px;">
                            <div id="Div-tabla3" style="border-style: double; border-width: 4px; border-color: #930D0D;">
                                <form action="{{path('agregar_direccion_representante')}}" method="POST" id="myform">
                                    <table align='center'>                                   
                                        <input type="hidden" name="accion" value="2">
                                        {% for datos in datos_dir_edit['data'] %}
                                            <input type="hidden" name="idRepresentante" value="{{datos['idRepresentante']}}">
                                            <input type="hidden" name="id_Dir_Rep" value="{{datos['idDireccionRepresentante']}}">
                                            <tr>
                                                <td align="center" colspan="2"><font color="#930D0D" size="3">Editar Dirección</font><p></td>
                                            </tr>
                                            <tr>
                                                <td align='right'>País: &nbsp;</td>
                                                <td><select class="form-control input-sm" id="DE_id_Pais" name="DE_id_Pais" title="Seleccione un pais" required>
                                                        <option value="" disabled selected>Selecciona tu país..</option>
                                                        {% for idPais, pais in paises['data'] %}
                                                            <option value="{{idPais}}" {% if idPais == datos['_id_Pais'] %}selected{% endif %}>{{pais}}</option>
                                                        {% endfor %}
                                                    </select><p></td>
                                            </tr>
                                            <tr>
                                                <td align='right'>Estado: &nbsp;</td>
                                                <td><select class="form-control input-sm" name="DE_id_Estado" id="DE_id_Estado" title="Seleccione un estado" required>
                                                        {% if datos['_id_Estado'] != '' %}    
                                                            {% for idEstado, estado in estados['data'] %}
                                                                <option value="{{idEstado}}" {% if idEstado == datos['_id_Estado'] %}selected{% endif %}>{{estado}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select><p></td>
                                            </tr>
                                            <tr>
                                                <td align='right'>Ciudad/Municipio: &nbsp;</td>
                                                <td><select class="form-control input-sm" name="DE_id_Ciudad" id="DE_id_Ciudad" title="Seleccione una ciudad" required>
                                                        {% if datos['_id_Ciudad'] != '' %}
                                                            {% for idCiudad, ciudad in ciudades['data'] %}
                                                                <option value="{{idCiudad}}" {% if idCiudad == datos['_id_Ciudad'] %}selected{% endif %}>{{ciudad}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select><p></td>
                                            </tr>
                                            <tr>
                                                <td align='right'>Colonia: &nbsp;</td>
                                                <td>
                                                    <div class="required-field-block">
                                                        <input value="{{datos['DR_Colonia']}}" type="text" name="col" class="form-control input-sm" id="col" placeholder="Colonia" required>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align='right'>Calle y Número: &nbsp;</td>
                                                <td>
                                                    <div class="required-field-block">
                                                        <input value="{{datos['DR_Calle']}}" type="text" name="calle" class="form-control input-sm" id="inputCalle" placeholder="Calle y Numero" required>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align='right'>Código Postal: &nbsp;</td>
                                                <td>
                                                    <div class="required-field-block">
                                                        <input value="{{datos['DR_CP']}}" type="text" maxlength="10" name="inputCP" class="form-control input-sm" id="inputCP" placeholder="C.P" required>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                </td> 
                                            </tr>
                                            <input type="hidden" id="PECC_Estado" value="{{ path('PECC_Estado', {'id_Pais': '134'}) }}" />
                                            <input type="hidden" id="PECC_Ciudad" value="{{ path('PECC_Ciudad', {'id_Estado': '134'}) }}" />
                                            <tr>
                                                <td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-success pull-right btn-xs" style="font-size: 14px;" value="Modificar" /></td>
                                            </tr>
                                            <tr>
                                            {% endfor %}
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Modal -->
            <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body-loading">
                            <div class="text-center">
                                <center>
                                    <img src="{{asset('images/loading.gif')}}" size="" class="icon">
                                    <h4 id="loading_msj">Processing...</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{{asset('js/jquery.js')}}" language="javascript"></script>
            <script src="{{asset('js/bootstrap.min.js')}}" language="javascript"></script>
            <script src="{{asset('js/required.js')}}" language="javascript"></script>
            <script src="{{asset('js/pecc.js')}}" language="javascript"></script>
            <script type="text/javascript" language="javascript" src="{{asset('media/js/jquery.dataTables.js')}}"></script>    
            <script src="{{asset('js/jquery.validate.min.js')}}"></script>
            <script src="{{asset('js/additional-methods.min.js')}}"></script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function() {
                    $('#loadingPage').hide();
                    $('#div-tabla-1').show();
                    $('#div-tabla-2').show();
                    $('#tabla1').dataTable({
                        "bSort": false,
                        "info": false,
                        "lengthChange": false,
                        "iDisplayLength": 7
                    });

                    $('#addDir').show('inline');

                    $('#btnDir').click(function() {
                        $('#addDir').toggle('inline');
                    });

                    $("#myform").validate({
                        rules: {
                            inputNom: {
                                required: true
                            },
                            submitHandler: function(form) {
                                form.submit();
                            }
                        }
                    });
                });
            </script>
            <!--[if lt IE 9]>
                    <script src="{{ asset('js/html5shiv.js') }}"></script>
                    <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
        </body>
    </html>
{% else %}
    <script type="text/javascript">
        <!--
    window.location = "{{path('logout')}}"
        //-->
    </script>
{% endif %}
